[2012-11-11 18:49] danchoi opened #1 "Suggestion from Mike Breen: Teach people to keep 2 terminals open"
@hardbap made a good suggestion during the workshop: Teach students to keep 2 terminals open, one for editing, and one for rails server or rails console. He noted that some students kept closing their terminal windows and reopening them. They may not be used to keeping multiple windows of an application open.

[2012-11-11 18:51] danchoi opened #2 "Suggestion from Andrew, Tracy, and Lauren: write up a behavior code"
We had a civility and sensitivity problem with one student on Saturday. We need to draft a civility policy for students to read, and maybe consent to on the workshop application. This policy should also be prominent on the workshop website.

[2012-11-11 19:02] kookster commented on #2
I'll work on something, and send out for comment, based on a few suggested examples.  If anyone has other suggestions, let me know.
- Andrew

On Nov 11, 2012, at 1:51 PM, Daniel Choi notifications@github.com wrote:

[2012-11-11 19:21] danchoi commented on #2
Thanks @kookster !

[2012-11-11 21:14] brendankemp commented on #2
I like the Steel City Ruby Conf Anti-harassment policy: http://steelcityrubyconf.org/policies#antiharassment. I think they did a good job of setting a tone by writing a strongly-worded statement, then linking it prominently in the conference materials. I heard they had an unusually friendly–and-safe-feeling conference because of it. Anyway, something to crib from, possibly.

Brendan

[2012-11-11 21:17] brendankemp commented on #1
Good idea. I can take this one.

[2012-11-11 21:43] mauricio opened #3 "Comments about the last workshop"
I'm not sure if there is a mailing list for this, if there is, please forward this.

First I'd like to congratulate everyone for this, I had an awesome time doing it and I will be copying you guys over in Brazil when I get back home, it's great to see how many people took this workshop and hopefully we will have many more getting into the market ;D

Now on to issues I have found:
- There were no c

[2012-11-11 21:48] kookster commented on #2
Great suggestion.

That policy is based on the guidelines from the geek feminism wiki, and
written by the leaders of the Ada Initiative - which is what I am also
consulting now.

http://steelcityrubyconf.org/policies#antiharassment
http://geekfeminism.wikia.com/wiki/Conference_anti-harassment
http://adainitiative.org/what-we-do/conference-policies/

I think the policy should be featured prominentl

[2012-11-11 21:56] kookster commented on #2
Reading up on this, another controversy is how photos/images from events
are used, and perhaps we should have a photo policy as well, and have
something about that and the anti-harassment policy as part of the
registration process as well.

http://geekfeminism.wikia.com/wiki/Photography

This has a write up of how some other events are addressing the issue:
http://adainitiative.org/2012/10/freely-

[2012-11-11 22:15] alexch commented on #1
See also: http://codelikethis.com/lessons/ruby/meta#very_important_tips

On Sun, Nov 11, 2012 at 1:17 PM, Brendan Kemp notifications@github.comwrote:

##

Alex Chaffee - alex@stinky.com
http://alexchaffee.com
http://twitter.com/alexch

[2012-11-11 22:28] kookster commented on #1
FYI  - This is covered to some degree in the Intro instructions:

"Working Effectively and Efficiently"
http://www.railsbridgeboston.org/curriculum/curriculum

Perhaps this should be changed to steps they have to complete, rather than
suggestions?

Andrew Kuklewicz

On Sun, Nov 11, 2012 at 5:15 PM, Alex Chaffee notifications@github.comwrote:

[2012-11-11 22:51] brendankemp commented on #1
@alexch @kookster Yes I was thinking the first time we tell them to start the rails server, we can add specific directions for opening a new tab in Terminal (maybe a reminder the second time too).

[2012-11-11 23:04] brendankemp commented on #2
I definitely agree. I read the geek feminism guide, and I see they have more suggetions:

http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy_resources

[2012-11-11 23:05] danchoi commented on #3
Thanks a lot @mauricio  for these great suggestions. And it was awesome to meet you and pair code the new tracking feature on the website, which I hope we can get other RailsBridges to adopt and keep improving. I know you are going to do a great job organizing this in Brazil.

[2012-11-11 23:14] danchoi opened #4 "Figure out a way to merge curriculum content with RailsBridge SF"
cc: @alexch, @cykod, @mauricio

We should try to figure out a good way to merge our fork of the curriculum with RailsBridge SF. It would be great to separate content from presentation and allow repurposing and reformatting the curriculum content in different ways to the fullest extent possible.

[2012-11-12 01:28] brendankemp commented on #3
Thanks @mauricio.

I would like this to be the subject of the Friday night tutorial (along with terminal basics), perhaps in addition to expanded instructions in the [text editor section](https://github.com/railsbridge-boston/railsbridge-boston/blob/master/views/installfest/text_editor.markdown) of installfest? @mauricio, you were probably thinking of the latter, which would be great if you wanted

[2012-11-12 01:37] brendankemp commented on #3
P.S. That makes me happy. I'm sure Dan mentioned this to you, but you should join the [Railsbridge San Fransisco](https://groups.google.com/group/railsbridge-workshops) Google group, they are very big on supporting new chapters, and helping this movement go viral.

[2012-11-12 06:06] mauricio commented on #4
That's true, we should probably see what sections overlap and how we could contribute it back to them.

[2012-11-13 00:20] drapergeek opened #5 "Heroku Gem"
Let me preface this issue by saying how much I enjoyed the workshop and how impressed I was by everything that went into the workshop.  I really think it was a lot of fun and every participant I spoke with was very happy.  I can't wait to help out again!

I made a few notes on things that I think we can either fix or improve and I plan on putting them in as issues so I can solicit feedback and if

[2012-11-13 00:21] drapergeek opened #6 "Update SSH Steps to Specify the step for the Key Location"
When creating an ssh key, the OS will prompt for the location (which most people will choose the default).  We should update our documentation to point this out, I had a few participants caught off guard and waiting for assistance because of this.

[2012-11-13 00:24] drapergeek opened #7 "Git Commit Issues"
I had a few participants accidentally get stuck in vim due to just using `git commit` without the message option.  This can be a bit off-putting  (especially if your TA is not a vim user and has to ask someeone else for assistance).  Would it be worth it to have the students specify their editor as sublime since thats what we're recommending as an editor?

[2012-11-13 00:27] drapergeek opened #8 "Git Extra Credit"
I think that the git extra credit section which involves branching could be better used on a rails idea or principle.  I think that (unless I'm wrong) for the most part we should stick to git as a means to an end for the workshop and try to focus on rails/ruby.

Most of the students I worked with seemed to be confused about what they had done and didn't really see any benefit in the extra credit b

[2012-11-13 00:29] drapergeek opened #9 "Extra Credit Idea"
A somewhat simplified walkthrough off adding another field to a model I think would be received quite well.  As soon as we generated the first scaffold the next question from multiple participants was "cool, now how do I add X".  I think a walkthrough of adding maybe the email field to user or something like that would be interesting and would involve multiple steps (generating a migration, adding

[2012-11-13 01:08] danchoi commented on #5
@drapergeek thank you a ton for helping out by teaching. It made a big difference. I will never ever call you "the thoughtbot dude" again! :)

These notes are awesome & very well thought out. Thank you. I will let @brendankemp and others comment more specifically on them.

[2012-11-13 15:42] brendankemp commented on #5
@drapergeek thanks for the notes. These are a big help.

I thought this too, and updated the instructions to say so. Then one of the curriculum testers said that the Toolbelt actually installs its own Ruby, placing it before rbenv in the PATH, and causing all sorts of problems. People installing the Toolbelt when they signed up for a Heroku account was a source of problems during the installfest,

[2012-11-13 15:47] brendankemp commented on #6
Good catch.

For reference
https://help.github.com/articles/generating-ssh-keys

[2012-11-13 15:47] brendankemp commented on #7
+1 worth it.

[2012-11-13 15:49] brendankemp commented on #8
I like this thinking. @drapergeek do you have any ideas for a Rails principle that would be worth covering?

[2012-11-13 15:55] brendankemp commented on #9
What if we used this as the "checkpoint" at the end of the associations section, instead of building an association between User and Vote? I've heard that the current check is confusing, because 1) associations are hard 2) there are currently no changes to the view, so students deploy to Heroku and can't tell if it worked.

[2012-11-13 16:55] drapergeek commented on #8
Personally I like #9 as the replacement for this.

[2012-11-13 16:55] drapergeek commented on #9
Actually I would prefer to keep them both.  The people I was working with didn't seem to dislike the associations, they actually enjoyed it, would just be nice to somehow get it on the view for heroku.  I haven't thought out how to do that exactly.

[2012-11-13 16:58] drapergeek commented on #5
I wasn't aware of that, I walked a few people through and these seemed to work out fine (not arguing, only adding my experiences).  I feel like before the next workshop (approximately a month ahead of time).  We should completely walkthrough and test these steps and update.  I'm sure in the 3 months the landscape will change.  Also, the rails installer we're recommending for mac os uses rvm so I'm

[2012-11-14 00:07] mauricio commented on #5
I saw the `rbenv` issue with the toolbelt and also asked people to keep the them instead of using it.

We should surely test this in as many machines as possible and see if we can reproduce it.

[2012-11-14 01:42] alexch commented on #4
Plus I love some of your improvements, like the "I've done this" checkbox
and slick table-of-contents styling.

[2012-11-14 01:43] alexch commented on #4
cc @tjgrathwell @lilliealbert @nuclearsandwich

[2012-11-27 01:00] drapergeek commented on #5
I'm going to attempt to set up a Mac OS VM that only uses the Railsinstaller(no xcode/gcc) and then installs heroku toolbelt.  Can someone else try this same setup on windows and report back?

[2012-11-27 02:13] drapergeek opened #11 "Heroku/Git"
It seems that trying to teach git along with everything else we're covering a bit overwhelming.  As an opinion, I think our time could be better spent if we skipped the git section and focused more on Ruby/Rails.  If we remove the git requirement we also remove heroku from the learning requirements which would free up even more time.

If we think it's really important to keep heroku then I think w

[2012-11-27 03:09] durrantm commented on #11
My opinion is that we should keep both, but make them easier where we can.

git should just be doing git init (once) and then git add's, commit -m's
and git push.  Plus adding the heroku remote.
I think we should be able to explain fairly easily.  Perhaps we could spend
an extra 5 mins on git at the beginning to increase comfort with it.
git is used for all rails jobs I've done (excluding the one

[2012-11-27 03:12] mauricio commented on #11
@durrantm +1 on the hands on command line presentation, many of the students didn't know what they where doing with the command line and we usually had to explain what all commands did again.

[2012-11-27 18:50] brendankemp commented on #11
+1 on simplifying the git component. Maybe we could ease the deploy cycle by giving some more instruction on Friday night? It sounds like it could use some clarification.

On Nov 26, 2012, at 10:12 PM, Maurício Linhares notifications@github.com wrote:

[2012-11-27 19:05] patricksrobertson commented on #11
:+1: on removing git and heroku.

I spent significant time debugging git / heroku issues with little upside.  In an intermediate course / work situation I'd teach a graduate from the ground up on git.  I'd rather the graduate know nothing about dVCS, know more about Ruby/Rails and then add in dVCS knowledge at the appropriate time when the student can appreciate a proper git based workflow.

Probl

[2012-11-27 19:32] drapergeek commented on #11
I ran into the same types of issues that @patricksrobertson did.  I understand that most rails jobs are going to require their users to know git but this course is intended to be an intro to Ruby/Rails, not git and I think it bogs down things a lot.

I'd rather remove it completely other than a final page with simple steps to just get the app on heroku.

[2012-11-27 23:31] brendankemp commented on #11
So this is detracting from the essential tasks of building an app and learning about Ruby? OK I'm in favor, let's try taking it out. We're probably better off acknowledging that we can't give a proper introduction to all of a developer's tools, not in the time we have. Like @patricksrobertson said, the students will have a much better appreciation for what git is for once they have coded a little

[2012-11-27 23:36] danchoi commented on #11
:punch: I am just inspired by @patricksrobertson to write my first GitHub Emoji

[2012-11-27 23:42] danchoi commented on #11
It may be worth raising this proposal on the RailsBridge SF google group because those people have been through this curriculum with more students than anybody. I favor simplification too.

I'm wildly guessing that Git was added to the curriculum because you need it to push to Heroku. But if there was a way to push student apps to live web without forcing them learn Git along with everything else,

[2012-11-28 01:22] bcarreno commented on #11
:+1: on removing git and heroku

It's a lot to cover and these would be easy to remove in order to simplify the curriculum.  We can always move these steps to a separate section they can cover on their own.

[2012-11-28 02:07] alexch commented on #11
Railsbridge SF lurker chiming in..!

When we designed the curriculum we thought both Git and Heroku were important since the purpose of the workshop is to demystify the whole process of building _and launching_ a web site. It's arguably more valuable to teach Heroku than, say, ActiveRecord since more novices understand what a database is than what it means (and how simple it is) to deploy code thr

[2012-11-28 02:22] danchoi commented on #11
Thanks for the backstory! :thumbsup:

[2012-11-28 03:08] danchoi commented on #11
I'm not sure I agree that Git and Heroku are that important for an introductory 1-day course. I've managed to write plenty of Rails apps without using either. Deploying a Rails app using scp or rsync to copy to a server  is not the worst thing in the world if you're a beginner. Of course we want everyone to learn Git eventually and maybe Heroku (though I still never use it outside RailsBridge). Bu

[2012-11-28 03:50] dpickett commented on #11
@danchoi I think you might be on to something from an abstraction standpoint, and I totally agree there's a high "cool factor" that I saw with a lot of students when they realized they published something to the web. It's a big deal. I wonder if there's some git GUI's we could incorporate into the material?

[2012-11-28 04:25] kookster commented on #11
I agree with what @alexch wrote as the original reasons for including git/heroku.

I think it is important to get to git and heroku, as we are not just teaching ruby here, we are teaching how to make an app, and get it live.  That seems important to me.

I agree there are other ways, but we are trying to help folks get comfortable and feel successful, and there is something victorious about gettin

[2012-11-28 04:47] danchoi commented on #11
I would be fine with what @kookster and @drapergeek are proposing too -- putting off git and deploy until the end.

I would add (mootly) that the wrapper script I am thinking of could continue to be useful for beginners who want to deploy any rails app to their Heroku accounts after the workshop without dealing with individual git commands. The script would basically do a "save every change I made

[2012-11-28 05:28] kookster commented on #11
@danchoi If there could be a generically useful script/task, I withdraw all objections.

If the source for this script was extremely literate/well documented, it could itself serve both as an instrument for teaching how to do this common task when students read the src, without having to worry about the students cutting and pasting commands incorrectly while still learning what they mean.

I am co

[2012-11-28 05:40] danchoi commented on #11
@kookster You've improved on my suggestion x2 at least :thumbsup:

[2012-11-28 12:14] durrantm commented on #11
approach sounds great to me :)

On Wed, Nov 28, 2012 at 12:28 AM, Andrew Kuklewicz <notifications@github.com

##

Cheers, Michael.

[2013-01-19 18:36] bcarreno opened #14 "Using "article" instead of "post""
In the lecture "Models, Scaffolding, and Migrations" using the word "post" creates confusion among students with an "HTTP post", it would be better to refer to this as an "article"

[2013-01-19 20:59] bcarreno opened #15 "Hashes using both 1.8 and 1.9 notation"
The scaffolding uses 1.9 so I think this is the one we should use in the material

[2013-01-19 21:45] jyw2116 opened #16 "created finished repository of the Saturday curriculum"
Hi everyone!

Great job on another successful workshop this weekend! :)

I was helping a few students who were stuck today on what turned out to be very minor issues- I thought it would be helpful to have a finished repository of the Saturday curriculum?

This would be helpful for saving time (when people have to explain to TA's at where exactly they're stuck) and for general understanding (becaus

[2013-01-19 21:50] jyw2116 opened #17 "add alias for SublimeText2 from Terminal"
Hey again everyone!

So, the other thing I wanted to mention was, since we're recommending Sublime Text 2 as our text editor of choice for the workshop-

as part of the Friday installation, maybe we could include a guide for adding the alias for SublimeText2 from Terminal?

I've had several people ask me about this, and I think this might save a lot of time in getting through the Saturday curricul

[2013-01-20 03:45] slothbear opened #18 "Move initial "bundle install" to the installfest."
Some students at today's workshop had trouble with the initial "rails new" command. Network troubles caused the command to time out during `bundle install`. Some folks had to issue the bundle command several times.

This kind of installation step seems more appropriate to the Install Fest. Waiting for stuff to complete. Network connections gone bad. Getting stuff installed!

[2013-01-20 22:54] semanticart commented on #11
I realize this thread is old but I thought I'd offer a recent anecdote.

Several of the students in my group this weekend would have benefitted from a script. Several times they forgot to specify a commit message, didn't realize what had happened, and ended up tying their next step, `git push heroku master`, into vim. This was very confusing for them and they ended up (on their own initiative) sim

[2013-01-21 15:09] slothbear opened #19 "Turn on auto save in Sublime Text"
A couple of students were accustomed to editors that automatically save files. When some change didn't take effect, they didn't realize their file had not been saved. The little circle on the file tab just wasn't enough info, heh.

Here's how to turn on autosave in Sublime Text. You might find the setting is already there, set to false.
- menu: Sublime Text2 -> Preferences -> Settings - User
- set

[2013-01-21 17:33] danchoi commented on #19
@slothbear Can you look at my commit and let me know it works and suffices? I haven't tested it.

[2013-01-21 18:36] janetriley opened #20 "Clarify a few things in installfest IRB and command line sections"
Some things were consistently misunderstood in the IRB and command line sections this weekend.    I've made changes to the markdown in my fork and am about to submit a pull request.

Please see
https://github.com/janetriley/railsbridge-boston/commit/5b2b5b1c4933bd5c3e076b0ddecd80080a29c422
and
https://github.com/janetriley/railsbridge-boston/commit/c2844b935b937eae16719a2e7e32255ce120b0a8

for the

[2013-01-21 19:33] brendankemp commented on #19
Thanks @danchoi !

[2013-01-21 19:33] brendankemp commented on #19
Could you open a PR?

[2013-01-21 19:46] danchoi commented on #19
I made that commit to master. Did you want me to make PRs from now on?

[2013-01-21 21:31] slothbear commented on #19
Yup -- @danchoi change worked for me. I also modified the issue to address Preferences -> Settings - User (instead of  - Default).

[2013-01-21 21:49] slothbear commented on #11
What @semanticart  says. I also had multiple students this weekend that did not remember all the commands and syntax. They spent too much time trying to find them in the slides, and didn't remember the commands the next time.

When I found this thread I was ready to say "let's get rid of git!", but I totally see the relevance after reading the whole thread. Still, way too much time was spent diagn

[2013-01-21 22:11] danchoi commented on #11
OK we just need someone to prototype a bash or Ruby script to hide the details of the git commit and push.

[2013-01-21 22:22] slothbear commented on #11
Hm, the implementation details... `git add` and `git push` are easy. What do we use for for a commit message? Maybe the script can take a message as an argument... and default to ... what if the message isn't given?

[code]

[2013-01-21 22:58] danchoi commented on #11
How about an interactive script, with a prompt for the message, and a confirm for pushing to Heroku?

[2013-01-21 23:03] slothbear commented on #11
That's better! No need to remember anything beyond the script name. Ok, I'll prototype. I won't have a chance to test on all platforms until the end of the week.

[2013-01-21 23:15] danchoi commented on #11
Thank you Paul!

[2013-01-22 15:33] janetriley opened #22 "remove 'tree' for OSX users from getting_started"
Step 5 of Creating A Rails Application (  views/curriculum/getting_started.markdown ) invites students to use 'tree' to see  all the files and directories that were created in their new suggestotron project.

For OS X, it notes you may have to install the tree utility with homebrew.  Nobody had homebrew installed, and they got an error when they typed 'brew'.   This seems like a lot of work to sho

[2013-01-22 16:18] danchoi commented on #16
I think this is a great idea. @brendankemp how should we go forward with this?

[2013-01-22 16:19] danchoi commented on #17
Is someone willing to make the necessary edit to the curriculum and make a pull request? @slothbear?

[2013-01-22 16:58] slothbear commented on #17
I agree. A couple of students figured this out on their own and suggested to me that we add the instructions. I'll do it.

[2013-01-22 17:23] danchoi commented on #17
Thank you

[2013-01-23 02:41] bcarreno commented on #22
I agree with `change the OSX instructions to 'open .' , and make a note about SublimeText for all platforms`
If you make a PR I can merge it.

[2013-01-23 03:58] slothbear commented on #22
I agree; students had trouble with `tree`.

The `open .` command looks good for Mac OS X.

I showed several people the Sublime Text navigation and they liked it. One person suggested including instructions for adding the `subl` symlink as they found it very handy.

I helped a student with Windows + Sublime Text open a folder. I think on Windows we had to use _File/Open Folder_. The plain _File/Ope

[2013-01-23 04:33] danchoi commented on #22
I agree with the above, let's get rid of the `tree` instructions and suggest  using `open .` on the Mac and whatever the equivalent is on Windows. On Ubuntu, `gnome-open .` may work.

[code]

is totally rad but definitely for a different crowd.

[2013-01-23 16:05] bcarreno commented on #16
What about using Christine Liu's Suggestotron? (used in November to select the afterparty beer)

[2013-01-23 16:16] danchoi commented on #16
I think @brendankemp worked with her on that. @brendankemp can you get access to her heroku instance & pull the code down into a new railsbridge-boston project?

[2013-01-23 21:05] brendankemp commented on #16
@danchoi good idea. I'll try that

[2013-01-28 16:44] danchoi commented on #22
Fixed by pull request 0ed4ca2

[2013-01-28 16:44] #22 closed, assigned to nobody

[2013-01-28 16:45] #19 closed, assigned to nobody

[2013-02-02 04:35] slothbear commented on #11
I've reconstructed this prototype a bunch of times, but I never ended up with anything nearing the "extremely literate/well documented" mark. Even with just four commands, system-command stuff obscures a lot of the intent. I tried creating methods, but that added a different kind of obfuscation.

So here is a prototype. I could see adding some verbose comments to each of the four command sections.

[2013-02-02 05:45] slothbear commented on #17
Now that I'm tried implementing this addition (#24), I'm dropping my support of the idea. It feels like there are too many concepts (sudo, symlink), and too many ways for the instructions to fail. I couldn't figure out the best way for Windows (see 9 different answers here: http://stackoverflow.com/questions/9440639/sublime-text-from-command-line-win7).

Once students are using Sublime Text, it wo

[2013-02-02 14:49] danchoi commented on #11
On a quick glance, looks great to me. Thank you!

[2013-02-02 14:55] danchoi commented on #11
I would use

[code]

to escape any single quotes

[2013-02-03 02:29] bcarreno commented on #11
@slothbear do you want to pack it and publish as a gem?  I think you should be the author.

[2013-02-03 02:40] slothbear commented on #11
Ok -- I'll publish as a gem. I still have some platform testing to do.  I'll also include Daniel's suggestion.

[2013-02-03 18:53] bcarreno commented on #11
Thank you Paul for all your help

[2013-02-05 16:42] danchoi opened #26 "Dylan's recap rocks; can we tweak picture sizes?"
Dylan's recap rocks!

Not a big deal, but can we tweak the photo sizes so they fit the layout grid?

We just need the images to be the same size as the older picture of the laptop with the RailsBridge stickers on it. If someone can put larger images in the `public/images/jan_2013` directory, I can scale them to the right size with the command line `convert` command from ImageMagick

[2013-02-05 17:16] bcarreno commented on #26
Yes, please.

On Tue, Feb 5, 2013 at 11:42 AM, Daniel Choi notifications@github.comwrote:

[2013-02-05 18:07] dylancashman commented on #26
Hey, good point.  I can get to this in a bit.  I'll just pull larger versions.

[2013-02-05 18:29] dylancashman commented on #26
I'm a little confused.  I replaced all images with increased size versions locally, and then committed and pushed.  I don't see them in the diff, though.

https://github.com/railsbridge-boston/railsbridge-boston/commit/e1ffc9632f770a8ab1604b7bb2cfadfe771a36fd

Does someone know what I did wrong here?

[2013-02-05 18:49] danchoi commented on #26
You did it correctly. We can push!

On Tue, Feb 05, 2013 at 01:29 PM, Dylan Cashman notifications@github.com wrote:

[2013-02-05 18:55] danchoi commented on #26
Can someone push to production if everything looks good? My laptop is nearly out of battery.

[2013-02-05 22:07] bcarreno commented on #26
There's something @brendankemp has to check and we'll deploy

[2013-02-05 22:12] brendankemp commented on #26
Getting out of work soon—I'll take a look when I get home.

On Tue, Feb 5, 2013 at 5:07 PM, Braulio Carreno notifications@github.comwrote:

[2013-02-05 22:47] danchoi commented on #26
I'm leaving it confidently to you guys. I got excited.

[2013-02-17 21:59] slothbear commented on #11
The add/commit/push script is now available as a gem: [adcopu](https://github.com/slothbear/adcopu).

I've tested on Mac OS X and Ubuntu 12.04 LTS.  I'll test on Windows tomorrow (unless someone else volunteers).

I'm taking suggestions for:
- a better gem name
- the wording of the commit message prompt, currently `enter commit message (blank to exit)>`
- anything else you'd like to criticize, com

[2013-02-18 03:38] slothbear commented on #11
I tested with Windows 7, so stop volunteering. Windows 7 and Ubuntu 12.04 tests were done after following the Installfest instructions. Mac OS X testing was done on my own non-Installfest development system.

I have an idea for an enhancement already:warning:  Add brightly colored headers to the output before each of the steps -- with the text of the git command being executed. While waiting for t

[2013-02-18 11:59] dpickett commented on #11
wow this is cool! @slothbear I think it's important to output the commands that the script is executing to further  learning. Is this something you would welcome as a pull request?

[2013-02-18 14:32] slothbear commented on #11
All pull requests, critiques, comments are welcome. Thanks!

[2013-02-19 03:56] danchoi commented on #11
Thank you @slothbear !

[2013-02-19 11:25] #26 closed, assigned to nobody

[2013-02-19 11:26] danchoi commented on #11
If @brendankemp is okay with this, we should change the curriculum to incorporate @slothbear 's new tool.

[2013-02-19 14:10] danchoi commented on #11
@bcarreno this may have implications for the Git lecture as well

[2013-02-19 14:35] slothbear commented on #11
I'd like for a couple of other people to test the tool before it is included in the curriculum. The only requirement is that you be working on the master branch, since `git push heroku master` is hard-coded.

[2013-02-19 14:48] bcarreno commented on #11
Still want to change the name?  I thought of `gach` (Git Add Commit pusH) Other options: `gitupdate`, `gitstep`, `gstep`

[2013-02-19 16:19] alexch commented on #11
I think the name should be something pronounceable and spellable, like
"push" or "shove" or "deploy" or "check" or "checkin".

Hmm... if it's "check" then you could have variant operations as
parameters, like "check in" and "check out" and "check deploy".

[2013-02-19 16:26] danchoi commented on #11
I'll suggest `gph` (git push heroku)  since it's also a short command name that isn't claimed either in rubygems or in the standard unix toolkit.

[2013-02-19 16:26] slothbear commented on #11
I'd love to change the name. I tend to like obscure (already have that with adcopu) or short like `gach` (isn't that a Klingon delicacy?). I kind of like the idea of including 'git' in the name, since it only performs git commands. `gitstep` sounds nice and is descriptive.

More ideas! vote!

[2013-02-19 16:56] bcarreno commented on #11
@slothbear that's right! _gach_ is a Klingon delicacy consisting of worms, served live.

[2013-02-19 18:12] durrantm commented on #11
One more idea:

How about gittyup? (Play on the words/phrases/acronyms: git, up, giddyup,
tty). Easy to pronounce and suggestive of what it's doing. Too silly
perhaps?

Michael.

On Tue, Feb 19, 2013 at 11:26 AM, Paul Morganthall <notifications@github.com

##

Cheers, Michael.

[2013-02-19 18:57] drapergeek opened #30 "/ in the index file"
There is a / in the index file showing on the page, I don't have the option to edit it at the moment but I'm hoping someone does!

[2013-02-19 19:03] brendankemp commented on #30
Wait I don't see it, where is it?

[2013-02-19 19:03] danchoi commented on #30
I removed it. Thanks Jason!

On Tue, Feb 19, 2013 at 2:03 PM, Brendan Kemp notifications@github.comwrote:

[2013-02-19 19:03] brendankemp commented on #30
oh dan got it thnx @drapergeek

[2013-02-19 19:09] #30 closed, assigned to nobody

[2013-02-19 22:37] intuedge commented on #11
gitup (simple), githerup (mention heroku, at the risk of crude sexism), or gph (obscure yet practical)

[2013-02-19 22:44] dpickett commented on #11
A somewhat obscure fact:

if you name the script git-[name] it will work as a git subcommand. So you could name it git-heroku and this command would be valid:

[code]

[2013-02-21 01:30] slothbear commented on #11
I guess the tool's name is up to me, unless someone more official dictates. My favorite of the suggestions is the fun-to-say and memorable `gittyup` :horse_racing: (thanks Michael). My second choice is the descriptive `gitstep` :shoe: (thanks Braulio). I'll rename tomorrow.

[2013-02-22 05:16] #6 closed, assigned to nobody

[2013-02-22 05:18] brendankemp commented on #20
These are very good, thank you for them.

[2013-02-22 05:18] #20 closed, assigned to nobody

[2013-02-22 05:20] brendankemp commented on #17
Agreed @slothbear, closing.

[2013-02-22 05:20] #17 closed, assigned to nobody

[2013-02-22 05:24] slothbear commented on #11
The add/commit/push script is now available as a newly named gem: [gittyup](https://rubygems.org/gems/gittyup). With enhancements from the community. Thanks!

[2013-02-22 05:26] brendankemp commented on #15
Fixed: 017004b2e3180d646b8d757ed072687f40c24b23

[2013-02-22 05:26] #15 closed, assigned to nobody

[2013-02-22 05:27] brendankemp commented on #11
Wooohooo!

[2013-02-23 02:40] lilliealbert opened #43 "PragProg logo has broken link"
The Pragmatic Bookshelf logo in the Sponsors section on the home page is missing a colon: http//pragprog.com/

[2013-02-23 03:11] #43 closed, assigned to nobody

[2013-02-23 03:20] bcarreno commented on #43
@lilliealbert fixed, thanks for the catch

[2013-02-24 18:16] brendankemp commented on #18
I think pushing the `rails new` and `bundle install` stuff to Friday would be too much. I like the division of material as it is now. I think we are going to run into network issues no matter what. We _could_ run a local gem server. How hard would it be for the students to use that?

[2013-02-24 18:47] slothbear commented on #18
I was reacting to the issues some had during the January workshop. I was excited to see `bundle install` on a more robust network yesterday to see if that would change my opinion. Maybe next time. I agree the division of material is good as it is.

[2013-02-24 18:47] #18 closed, assigned to nobody

[2013-02-24 19:28] brendankemp commented on #14
Jason's new slides take care of this.

[2013-02-24 19:29] #14 closed, assigned to nobody

[2013-03-06 15:25] slothbear commented on #18
About the local gem server if we needed it... the server wouldn't need a copy of every gem known to the universe, just the rails dependencies.

[2013-03-06 16:09] brendankemp commented on #18
Do you have experience setting up a gem server? How much configuration
would it require on the client side? Would the speed increase be
significant?

On Wed, Mar 6, 2013 at 10:25 AM, Paul Morganthall
notifications@github.comwrote:

[2013-03-06 17:44] slothbear commented on #18
I've no experience beyond observing some folks talk about size and time required to create a full local gem server. As long as the internet cooperates (like it did last weekend), I doubt a local server is worth the trouble. The local server looks pretty easy to set up though.

[2013-03-07 16:44] brendankemp opened #45 "Alternative key combo for killing processes in Windows"
Jon Cheng found a way to kill foreground processes like rails s in Windows:

"I found out you can use ctrl + pause/break on windows to kill any process."

We should make a note of this wherever we instruct students to ctrl+c. I noticed at the last workshop that ctrl+c on Windows backgrounds the process but doesn't kill it, which is not what we want.

[2013-03-08 00:33] slothbear commented on #45
That's _fantastic_!

I'm wondering though -- why do we instruct students to kill the server? I know in the Railsbridge.org curriculum, they're instructed to open two terminal tabs, and keep the server running. Next time I walk through our curriculum, I'll keep an eye out for anything that actually requires a server restart.

[2013-03-08 00:41] lilliealbert commented on #45
I might be wrong, but I think most PC laptop keyboards don't have a pause/break key.

The Installfest has students kill their rails server while they make their test app, (http://installfest.railsbridge.org/installfest/create_and_deploy_a_rails_app) and says this:

"On Windows, sometimes Control-C doesn't work. In that case, look for the key called 'Break' or 'Pause' and press Control-Break, then

[2013-03-08 01:10] slothbear commented on #45
Some laptops appear to have equivalents, though this implies the mapping varies: http://stackoverflow.com/questions/1722149/need-ctrlbreak-on-laptop-without-a-break-key

[2013-05-14 17:31] houhoulis commented on #7
+1 Being a newcomer and unexpectedly having your terminal pop into vim can be very unsettling.  I have started switching people's default editor to TextEdit/Notepad anytime I've helped someone through an "installfest".  I'd recommend we give instructions for a few editors since not everyone can use SublimeText.  Will submit pull request.

[2013-05-30 23:56] drapergeek opened #50 "Specify proper ruby version in Gemfile and .ruby-version file."
It would be ideal to specify the proper version in both locations to make it easier on anyone working with the repo.

@danchoi can you confirm the version of ruby that is being used on heroku now so we can create these files?

[2013-05-31 00:38] danchoi commented on #50
The heroku app is running on 1.9.2. Feel free to add the dotfiles and even
bump up the Ruby.

On Thu, May 30, 2013 at 7:56 PM, Jason Draper notifications@github.comwrote:

[2013-05-31 15:13] houhoulis commented on #50
Pull request https://github.com/railsbridge-boston/railsbridge-boston/issues/51 submitted to resolve this issue.

[2013-05-31 15:51] #50 closed, assigned to nobody

[2013-06-15 15:03] houhoulis opened #54 "Correct instructor bio typos, use of third person, and stating their name is "Greg Greg"."
I apologize to Greg Greg Pallotta if he does go by that name, but I am assuming it is a typo.

[2013-06-15 15:06] #54 closed, assigned to houhoulis

[2013-06-19 11:51] houhoulis opened #56 "Index page shouldn't say registration is open anymore."

[2013-06-19 17:58] #56 closed, assigned to houhoulis

[2013-06-25 00:49] slothbear commented on #5
The current Heroku Toolbelt contents lists Heroku client, Foreman, and git. When I installed the toolbelt recently, it didn't appear to add git to my system (since I already had git?). And no mention of ruby. This weekend some students had trouble with the Heroku gem, so they used Heroku Toolbelt. I didn't help any of those students – perhaps someone who did could comment on how it went?

I like J

[2013-06-25 01:56] drapergeek opened #60 "Add information about submitting issues for TAs."
This is primarily a reminder so I do not forget about it.

We should have information on the TA information about how to file bugs and encourage our TAs to do so, even during the event. I feel like there is a lot of lost information after the workshop and encouraging immediate issue tracking would be helpful.

[2013-06-25 01:59] drapergeek opened #61 "Completion Script"
Spitballing ideas here so feel free to provide an opinion!

I would love to see a small script that we can have each participant run after they think they are setup, that would walk them through a set of objectives and confirm that they are finished. This information could not only be shown to the TA but  we could also potentially send the information to our site to track if we wanted to.

Things

[2013-06-25 02:00] drapergeek opened #62 "Bundle on friday night"
We should have the students run a `bundle install` on friday night instead of waiting until saturday halfway through the day to do this. We are already having them do a lot of things that require waiting on Friday night and this process took quite some time to complete on satuday.

[2013-06-25 02:02] drapergeek opened #63 "Create a list of things to put on jump drives"
We should keep a list somewhere or all the things we need to put on the jump drives.

Here are a few things that would be nie that were not there last time:
* console2
* heroku toolbelt

[2013-06-25 02:04] drapergeek opened #64 "Expand on the next steps page"
The next steps page should have a bit more explanation about getting involved and staying involved.

[2013-06-25 02:08] drapergeek opened #65 "Add a command line session for windows"
Despite being nearly identical, I had a few students say they wanted a separate command line for windows session just so they could feel like we were covering all areas.

This may have just been a failure to really explain that the session applied to windows. Just putting this out there for discussion.

[2013-06-25 04:38] slothbear commented on #62
There are some comments on this in #18.

[2013-06-25 13:58] drapergeek opened #66 "Update for Rails 4"
Rails 4 will be coming down the pipe VERY soon and that will change a large portion of a content, primarily the index.html section. We should determine how we should replace this content.

[2013-06-25 14:08] danchoi commented on #66
Right on about Rails 4.

Related to this, @alexch from the RailsBridge SF mothership would really like to find a way for all the RailsBridges springing up all over the world to be able to collaborate on a common curriculum content codebase. See #4.

We might make the curriculum content a modular component consisting of just a set of markdown files and metadata that can be shared by all the RailsBr

[2013-06-25 14:17] slothbear commented on #5
Heroku Toolbelt includes generation of the ssh key. That would shave a couple of steps off of our instructions.

I looked into the toolbelt's **ruby** usage. It does still install it's own version of Ruby, but as far as I can tell, the new Ruby is only used by the toolbelt.

https://toolbelt.heroku.com

[2013-06-25 14:39] drapergeek commented on #66
I think the idea of storing content in a different way but I'm actually not in favor of merging the content. I think the ability to modify content and use it differently in different areas is a huge benefit. I like the fact that if we want to try something new (i.e. removing Git from the curriculum) we can do that.

[2013-06-25 14:43] drapergeek commented on #5
I say we go ahead and replace it. We had to install it for a lot of people at the workshop this time due to problems with SSL.

[2013-06-25 14:48] danchoi commented on #66
I agree with you about the benefits of decentralization and local experimentation.

What if we had a separate repo for the RailsBridge Boston curriculum, which would contain the lesson Markdown files and also the web UI and the little curriculum progress tracker and other things.

This could be a Sinatra app that could be pulled in as a git submodule and mounted as a Rack endpoint in the config.ru

[2013-06-25 15:01] slothbear commented on #60
In addition – I'll include a plea to contribute issues when I send the Railscasts Pro coupon to staff in the next couple days.

[2013-06-25 15:33] drapergeek commented on #66
I think that sounds awesome.

Overall I've been considering a proposal to moving the app to a full blown rails app. There are a few more features I would like to add to make it a bit more CMS style and I think that a certain point it makes sense to use rails.

Features I would like to add (open for feedback):
- Storing TAs in the db.
- Storing lecturers and their lectures in the db.
- Storing spon

[2013-06-25 15:34] drapergeek commented on #60
Yes please.

[2013-06-25 15:49] danchoi commented on #66
I think converting to Rails with a DB is a good idea. It will let us reuse
information more easily and also keep a better history of which sponsors
and which TAs participated in which workshops.

We can turn the workshop webapp into a Rails app, and maybe spin off a
separate GitHub repo for the curriculum.

On Tue, Jun 25, 2013 at 8:33 AM, Jason Draper notifications@github.comwrote:

[2013-06-25 22:02] slothbear opened #67 "download RailsInstaller (etc.) before workshop"
Several students suggested they could have downloaded the RailsInstaller (Heroku Toolbelt, Xcode, etc) in the weeks before the workshop – avoiding trouble with the wireless network and contention for USB drives.

[2013-06-25 22:05] slothbear commented on #61
_Love_ this idea. I love systems that come with self-auditing commands, like `brew doctor`.

[2013-06-26 15:33] danchoi commented on #66
Just a note; here is the SF RailsBridge workshop resources website

http://curriculum.railsbridge.org/docs/

[2013-06-26 17:27] alexch commented on #66
Please look at the infrastructure we have set up for railsbridge before converting stuff. It would be so awesome if we merged.

This Sinatra+Erector system is working pretty well for us, and I personally think Rails is overkill/inappropriate for a mostly-static document-heavy site.

Sent from my iPhone

On Jun 25, 2013, at 8:33 AM, Jason Draper notifications@github.com wrote:

[2013-06-26 18:00] mxie commented on #66
@alexch I think we're talking about 2 separate things here: 1) a change in the curriculum (whether it's content-wise or storage-wise) and 2) the workshop web app.

RE: 1) I'm not entirely convinced that we should _merge_ curriculum content between chapters. I do, however, think it's a great idea to compare content and see how we could each improve what we currently have. From there, we could creat

[2013-06-26 20:36] slothbear commented on #66
@mxie you missed the 3rd thing we're talking about – _Update for Rails 4_ :smirk_cat:

I like that we can do different things, but the cost of a separate curriculum is high. The SF curriculum is used many times a year, maintained and contributed to by lots of folks. The Boston curriculum is used 4 times a year, maintained by a small handful of folks. Just this weekend students brought these issues

[2013-06-26 21:01] mxie commented on #66
Well, the Rails 4 thing is really part of the 1st thing I mentioned - changing the curriculum.

Also, I think we're agreeing on the same thing here, @slothbear...having the same core curriculum and then somehow being able to some parts "on or off" - though depending on what those parts are, it might be extremely hard, e.g. Git. Some think that removing Git from the curriculum would drive better fo

[2013-06-26 21:37] slothbear commented on #66
I think Dan already has this working in his head, but having optional content shouldn't be too hard. Mark the git-related files and steps with a `:git_feature` flag, then start up the system with a list of the optional features you want.

Oh wait. I see what you mean. Now we're talking about changing the core curriculum software to support optional content – just so we can remove it. Maybe it coul

[2013-06-27 02:18] slothbear commented on #11
Someone asked me...

Are there easy hosting solutions that would allow us to deploy without git? I wonder if some service besides Heroku would allow Railsbridge students to deploy their apps – and perhaps those services don't require git? Given that Suggestotron doesn't take up a lot of resources, a paid service might even donate free accounts as a sponsorship.

And... it turns out you can deploy

[2013-06-27 22:08] danchoi commented on #66
I like the structured curriculum build system RailsBridge SF uses (see e.g. [raw source file for CRUD with scaffolding](https://github.com/railsbridge/docs/blob/master/sites/curriculum/CRUD_with_scaffolding.step)). When we started last fall, though, we wanted to port the curriculum to a Bootstrap look and feel, and also embed it in our own website instead of serve up the content in standalone fash

[2013-06-28 02:11] drapergeek commented on #66
I think personally I would prefer to see us use the exact same DSL that SF is using. Ideally if we use the same DSL, we can use their curriculum where we want to and is easy to swap out when we don't want to. Though I like the idea a custom markdown language I think making it easy to just use what they have would be easier overall and parse that into our own site.

[2013-06-28 02:12] danchoi commented on #66
OK I'm perfectly fine with that.

[2013-06-28 02:14] drapergeek commented on #66
Should we still separate the 'site' and the curriculum into two repos or keep it all together? I like the idea of only having one place to point people who want to help but breaking it out may be easier for those looking to only work with the curriculum.

[2013-06-28 12:57] danchoi commented on #66
What about using a [Git submodule](http://git-scm.com/book/en/Git-Tools-Submodules) to stick our fork of railsbridge/docs into our project tree? Then we can have the best of both worlds. We can keep everything in one app, and be able to contribute back to railsbridge/docs through our own fork of it.

We would need to write some code to allow us to generate railsbridge/doc curriculum HTML from the

[2013-06-28 13:04] drapergeek commented on #66
Sounds like a plan. I think @mxie and I are going to start on this today actually.

[2013-06-28 13:10] danchoi commented on #66
Wait, there is another alternative to discuss: We can turn the railsbridge/docs project into a gem that you can drop into the Rails Gemfile and then embed into the site in various ways. The gem approach would be simpler for Rubyists to grok than Git submodules, especially when it comes to versioning. But in this case we should convince @alexch to let us gemify the railsbridge/docs project structur

[2013-06-28 13:19] drapergeek commented on #66
I'm not sure exactly how this works, but it is possible that it is because of the lack of coffee intake so far.

At this moment my primary goal is to do the simplest thing possible to be able to start consuming the steps that SF has and then we can decide what the best split is.

[2013-06-28 13:31] danchoi commented on #66
Let me (and whoever else is interested) try to discuss this with @alexch
as soon as we can to resolve this jointly. I think the gem approach is
better in the long run & better for all the RailsBridges. I'll
create an issue about this at railsbridge/docs to get @alexch's attention.

On Fri, Jun 28, 2013 at 09:19 AM, Jason Draper notifications@github.com wrote:

---

Sent from Vmail
http://danielcho

[2013-06-28 13:46] danchoi commented on #66
https://github.com/railsbridge/docs/issues/208

[2013-06-28 15:47] danchoi commented on #66
@drapergeek @mxie @jsteiner and @danchoi discussed this in person today in the thoughtbot conference room. We are all agreed on 1st starting to update the railsbridge/docs curriculum to target Rails 4, and then later to gemify our fork of railsbridge/docs so it can be incoporated into our upcoming Rails 4 workshop website.

[2013-06-30 11:26] slothbear commented on #67
This was tried in the most current workshop and only very few people downloaded RailsInstaller before arriving.

[2013-06-30 11:26] #67 closed, assigned to nobody

[2013-07-02 23:42] PDegenPortnoy opened #71 "Please claim your project on Ohloh.net"
RailsBridge Boston has a project page on Ohloh.net: https://www.ohloh.net/p/railsbridge-boston

Please come to Ohloh and claim your contributions as well as become the managers of the RailsBridge Boston project.

[2013-07-02 23:42] ksavietta opened #72 "Typo on Homepage"
Homepage says "workhop".

[2013-07-02 23:42] joseepoirier opened #73 "Typo on homepage"
Typo: workhop -> workshop

[2013-07-02 23:43] kgf opened #74 "Change Linux Install intructions to recommend Sublime"
This would have all participants on the same text editor, which is easier for the instructors.

[2013-07-02 23:43] MerlinCalo opened #75 "Typo on the homepage..."
The word "workshop" is misspelled missing the letter "s"

~M

[2013-07-02 23:44] philipp opened #76 "homepage reads "workhop" and should be "workshop""
bottom text on the right column, the "sign up here if you missed it" text.

[2013-07-02 23:44] bcarreno commented on #73
Thank you, make a PR and I'll take it

[2013-07-03 01:29] kgf commented on #9
What if we added something to the end of application.html.erb near the bottom, like a version number. This would be a worthwhile lesson, short and easy to accomplish, and it would show on Heroku.

[2013-07-03 03:12] bcarreno commented on #72
Thanks @Chaosg740 for coming to the class, I hope you find it useful.

[2013-07-03 03:12] #72 closed, assigned to nobody

[2013-07-03 03:12] #75 closed, assigned to nobody

[2013-07-03 03:12] #73 closed, assigned to nobody

[2013-07-03 03:13] #76 closed, assigned to nobody

[2013-07-03 03:37] bcarreno commented on #71
Thanks for coming to the class and setting us in Ohloh.net.  I think I did everything to claim the project.

[2013-07-03 03:37] #71 closed, assigned to nobody

[2013-07-03 03:41] bcarreno commented on #74
Thanks for coming to the class, the issue and the PR.
The change should be live in a few minutes (deploying now)

[2013-07-03 03:41] #74 closed, assigned to nobody

[2013-08-26 16:33] danchoi opened #86 "Installfest Vagrant VM proposal"
I started using Vagrant for our own business. And it dawned on me that Vagrant is a much faster and more reliable way install all the pre-requisites for the Railsbridge workshop. It is simpler and more uniform than RailsInstaller and Tokaido. This is how the Vagrant-based install process would work:

We pre-bake a Vagrant box, which is a VM disk image, with an Ubuntu 12 server and all the dependen

[2013-08-26 17:45] danchoi commented on #62
See the proposal in #86

[2013-08-26 17:45] danchoi commented on #18
See proposal in #86

[2013-08-26 17:46] danchoi commented on #65
Proposal in #86 would put everyone regardless of laptop OS on Ubuntu command line.

[2013-08-26 18:52] danchoi commented on #86
I just remembered that @dpickett recommended using Vagrant for the installfest back in May of 2012 during the planning for the 1st BostonRB Project Night -- especially to avoid Windows installation headaches.

[2013-08-26 22:11] dpickett commented on #86
yeah I think this is a neat idea. For me, it comes down to the objectives of the workshop - do we want to show them how much they can do with ruby and rails or do we want to get them installed and configured so they can explore on their own? There's something to be said for the latter, but my feeling is that an emphasis on what can be done with the framework would serve attendees better.

I think

[2013-08-27 00:26] slothbear commented on #86
I'll try it out. :+1:

[2013-08-27 01:15] danchoi commented on #86
OK v1 is ready to test:

https://github.com/railsbridge-boston/railsbridge-virtual-machine

[2013-08-28 13:40] drapergeek commented on #86
I think this would be a neat idea but I also feel like it is introducing more complexity than has been said so far. Vagrant introduces another layer of confusion for where you enter commands and where you open directories to work in. I love vagrant but I personally think that this would introduce another layer of confusion for people in where they work.

[2013-08-28 13:46] danchoi commented on #86
Would you agree at least that a custom Vagrant VM simplifies things for
Windows users? The Git Bash option, prompt issues, and a bunch other issues
go away.

Also, RailsInstaller doesn't support Ruby 2.0 or Rails 4.0 yet. So we can
wait or try to patch RailsInstaller or go back to a more manual
installation method for OS X. Or we can use the custom Vagrant VM.

On Wed, Aug 28, 2013 at 9:40 AM, Jas

[2013-08-28 13:59] drapergeek commented on #86
I don't consider windows users when thinking about anything :smile:

Jokes aside, I really don't know how easy it is to use vagrant on windows or what is used to connect so I can't provide an opinion there, only on OS X. It may be the simpler decision on Windows.

I don't personally think it is worth it to force the use of Rails 4.0 and ruby 2.0 for this next workshop, just wait until we're on the

[2013-08-28 14:05] danchoi commented on #86
OK I'll leave it to you guys to decide.

On Wed, Aug 28, 2013 at 9:59 AM, Jason Draper notifications@github.comwrote:

[2013-08-28 14:08] drapergeek commented on #86
I wouldn't be opposed to having a vagrant setup for windows and a non vagrant for others, that would be an excellent A/B test!

[2013-08-28 14:09] danchoi commented on #86
Sounds good to me!

On Wed, Aug 28, 2013 at 10:08 AM, Jason Draper notifications@github.comwrote:

[2013-08-28 14:14] danchoi commented on #86
I'd like to test the Vagrant install on pre OS X 10.7 users as well.

[2013-08-28 14:25] drapergeek commented on #86
That also seems reasonable.

[2013-08-28 14:29] danchoi commented on #86
Sounds good.

FYI about future RailsInstaller support for Rails 4

https://github.com/railsinstaller/railsinstaller-nix/issues/20

On Wed, Aug 28, 2013 at 10:25 AM, Jason Draper notifications@github.comwrote:

[2013-08-29 00:38] bcarreno commented on #86
I like the idea.

In the past having an environment the students can use going forward has been an argument against this approach.  But as Dan Pickett says, we can address that at project nights.

I'll test it as soon as I have the chance.

[2013-08-29 00:59] slothbear commented on #86
I don't understand how the Vagrant approach leads to more confusion. Students are already have the confusion of multiple terminal and editor windows. Perhaps the `vagrant ssh` command line could have some beautiful colorful RBB flourish to distinguish the place to enter commands. Whether or not this approach adds confusion, it solves many troubles that students (and TAs) run into. I had to ask 3 d

[2013-08-29 01:30] tdyer commented on #86
I can see that using Vagrant on OSX is _not_ the typical development setup. I've mostly used Vagrant to mock a Linux production environment. And I think that students being taught using Vagrant on this platform would want, at some point, to use the typical OSX setup. Perhaps, it would discourage them at some point down the road?

I'm a newbie to railsbridge, only TA'd at the last session, so I don

[2013-08-29 01:57] danchoi commented on #86
For me, the dream is to eliminate the Friday night session by making the
installation as fast and reliable as possible. Based on a few initial
tests, the custom Vagrant VM may be able to reduce the installfest to less
than 20 minutes with no or very few problem cases.

It's true that RailsInstaller has sped up the installfest for most OS X and
Windows users. However, RailsInstaller may be frozen a

[2013-08-29 02:10] slothbear commented on #86
I don't understand ( _3rd time tonight_ ) how working with a Vagrant VM is any different than the native environment. There are a couple of startup and shutdown commands. After that, vagrant ssh is a command line – probably in the same terminal you'd use in your native environment. You use whatever native editor & browser you like. What's unnatural? I got the sample VM up and running. Perhaps I ne

[2013-08-29 03:20] tdyer commented on #86
Sounds like Vagrant isn't different enough, more typical OSX installs could happen at a later project night and Dan makes great points about the value of reducing/eliminating the installfest.

Could a "virtual" installfest help for those having problems? Perhaps one or two nights in a google hangout, chat, ...? Maybe virtual installfest/s that are targeted at only one platform?

[2013-08-29 17:38] danchoi commented on #86
I think @drapergeek is right to be conservative for the next installfest, but for the longer term I would like to propose that we try to have everyone self-install the stuff before the workshop. They could come to a small, optional pre-workshop installation help session staffed by a small number of volunteers if they fail someone along the line. We could also offer chat, do a instructional screenc

[2013-09-02 21:13] bcarreno commented on #2
Added a civility policy here
https://github.com/railsbridge-boston/railsbridge-boston/commit/6e8e7c6a11ab80ee4f491ca18b0a4c08b0c54225

[2013-09-02 21:13] #2 closed, assigned to nobody

[2013-09-04 00:11] AlexWheeler opened #87 "Windows install"
Shouldn't you update the instructions

[2013-09-04 00:12] bgiobbe opened #88 "Windows install"
Shouldn't you update the instructions for installing on Windows to use the Virtual Machine?

[2013-09-04 00:12] hellbinder opened #89 "Another windows install!"
Nothing to say...:(

[2013-09-04 00:13] bcarreno commented on #87
Sure, can you make a pull request?

[2013-09-04 00:14] bcarreno commented on #88
PR!

[2013-09-04 00:14] bcarreno commented on #89
PR please!

[2013-09-04 00:58] bcarreno commented on #86
I've tested the installation on Mac and it looks good.

@kgf has offered to try it on Linux

[2013-09-04 03:37] bcarreno commented on #87
Thank you Alex for participating

[2013-09-04 03:37] #87 closed, assigned to nobody

[2013-09-04 03:38] #88 closed, assigned to nobody

[2013-09-04 03:39] bcarreno commented on #89
Thank you Miguel for participating

[2013-09-04 03:39] #89 closed, assigned to nobody

[2013-09-04 06:01] bgiobbe opened #94 "Instructions for installing virtual machine on Windows"
I agree with not-repeating-ourselves; however, the instructions on the Virtual Machine page are not beginner-friendly and don't explain where to enter the `vagrant box ...` command.

Custom instructions for each platform might be helpful because the files to download and install differ for each platform as do the command line app for downloading the railsbridgebos.box.

The SSH key, Git config, an

[2013-09-04 22:56] bcarreno commented on #94
Go ahead and write the instructions according to what you consider better (I'd put a link to the other repo though).  If we need to DRY them we can do it later.

http://www.railsbridgeboston.org/installfest contains the common instructions.  There's already a section on Heroku that we'd have to update because it relies on RailsInstaller for Windows.  This part also talks about SSH keys.

I'd creat

[2013-09-04 22:59] bcarreno commented on #86
Thank you @kgf for your help!

[2013-09-04 23:07] bcarreno commented on #86
@tdyer good ideas, once we try vagrant in the next workshop we can see what we need.

@tdyer are you still interested in being in charge of the installfest for the next workshop? in this case, do you think you can test the procedure on Windows and take notes? (we need to update the instructions).  I don't think anyone has tested Windows yet.

[2013-09-04 23:12] danchoi commented on #86
@bcarreno @drapergeek Are we agreed on the following:
1. RailsInstaller for supported OS X versions, per Jason Draper's comments
2. Vagrant for non-supported OS X and Windows, in order to experiment and test the potential of Vagrant installs
3. Linux -- undecided which way to go

Also, non-Intel laptops cannot run VirtualBox -- so that rules out AMD, PowerPC, and probably Atom. I suggest we try to

[2013-09-04 23:13] bcarreno commented on #86
@slothbear Beginners can get confused when they're in a different environment or "mode".   We've seen this when they're inside irb and they don't understand why this is different than the command line.  They'll be in a ssh session connected to a virtual machine that's living in the same laptop, so I agree this can create confusion.  However, the benefits greatly outweigh this problem, if we can el

[2013-09-04 23:15] danchoi commented on #86
We may also have to create a new Vagrant box to targets Rails 3.2, since that is the highest Rails that RailsInstaller supports. The curriculum should also perhaps target Rails 3.2.

[2013-09-05 00:15] tdyer commented on #86
@bcarreno Yes, I do want to do the installfest for the next workshop. I'll get a hold of a Windows box and do the Vagrant install. Probably, will do over this coming weekend and update the instructions.

[2013-09-05 00:52] bcarreno commented on #86
@danchoi agreed.  I think it's better to have everyone on the same version, i.e. Rails 3.2

@tdyer thank you so much!

[2013-09-06 02:29] bgiobbe commented on #94
The Mac instructions also use RailsInstaller. Do you intend to use the virtual machine on Mac as well as Windows?

[2013-09-06 02:57] bcarreno commented on #94
Good point.  The answer: https://github.com/railsbridge-boston/railsbridge-boston/issues/86#issuecomment-23833107
We already make a distinction http://www.railsbridgeboston.org/installfest/install/osx so it should look like this:

10.6 - 10.8: Go ahead, your instructions are below
10.5 running Intel processor: Go here for your installation instructions using Vagrant
10.5 running non-Intel processo

[2013-09-06 03:14] bgiobbe commented on #94
You don't have the students open GitHub accounts in the class? Just Heroku?

[2013-09-06 03:15] bcarreno commented on #94
Correct.

[2013-09-14 21:46] slothbear commented on #86
I gave the installation a try on Windows 7 Home Premium. It took me a little less than an hour. Downloading Virtual Box, Vagrant (with restart) and the rbb box took about 20 minutes.The other big time sink was getting something to replace `vagrant ssh` since my Windows had no SSH client.

I took advice from Lifehacker to use PuTTY, then I had to figure out how to connect it to the virtual machine.

[2013-09-19 21:34] bgiobbe opened #96 "Version mismatch between RailInstaller and Vagrant"
The InstallFest checklist indicates that we've been using Rails 3.2, but the new Vagrant virtual machine includes Ruby 2 and Rails 4.

[code]

[2013-09-20 17:29] bcarreno commented on #96
@danchoi to avoid unexpected issues, I think it would be better using Ruby 1.9.3 and Rails 3.2 across the board.  Would it be difficult to generate a VM on 1.9.3/3.2?  CC: @janetriley @mxie

[2013-09-20 17:38] danchoi commented on #96
Not difficult, but we need to find a better way to serve the VM download. A torrent might be a good idea.

Sent from my iPhone

On Sep 20, 2013, at 1:29 PM, Braulio Carreno notifications@github.com wrote:

[2013-09-20 19:02] bcarreno commented on #96
I can do the hosting of the image this weekend, I'll update the repo.

When do you think you can have the new image? @janetriley was planning to test the installation on Windows this weekend

[2013-09-21 03:58] danchoi commented on #96
I create a new vagrant image for Rails 3.2 and uploaded it to a slow
server. You can download it from http://66.228.42.213/railsbridgevm-3.2.box

On Fri, Sep 20, 2013 at 3:02 PM, Braulio Carreno
notifications@github.comwrote:

[2013-09-23 01:34] bcarreno commented on #96
Setup images on S3 and updated the links.
Sizes are very different, @danchoi can you confirm sizes and SHA-1 (I'd like to display a digest in the repo)

[code]

[2013-09-23 01:48] danchoi commented on #96
The 3.2 box is much smaller because I learned a new technique for shrinking
the image.

On Sun, Sep 22, 2013 at 9:34 PM, Braulio Carreno
notifications@github.comwrote:

[2013-09-23 01:50] danchoi commented on #96
3.2 box is around 370MB
4.0 box is over 500MB

On Sun, Sep 22, 2013 at 9:48 PM, Daniel Choi dhchoi@gmail.com wrote:

[2013-09-25 14:30] danchoi commented on #96
Closing, we have a 3.2 box in the cloud.

[2013-09-25 14:30] #96 closed, assigned to nobody

[2013-09-25 14:37] danchoi opened #98 "Proposal for curriculum change on Friday night"
I'd like to propose splitting the installfest into 3 stages.
1. Start downloading other install downloads if they haven't done so before the workshop. Windows people should have GitBash installed already. Open a Terminal in OS X or GitBash/Windows or Linux.
2. Do the Command line lecture. Everyone must listen.
3. Rest of installfest

The rationale for this is that in the past half the room would n

[2013-09-25 19:30] alexch commented on #98
This is why we have a separate night for installfest. It's not feasible to
have a lecture and install chaos.

On Wed, Sep 25, 2013 at 10:37 AM, Daniel Choi notifications@github.comwrote:

##

Alex Chaffee - alex@stinky.com
http://alexchaffee.com
http://codelikethis.com
http://twitter.com/alexch

[2013-09-25 21:18] danchoi commented on #98
I pushed a first draft of the pre-workshop download guide at [http://www.railsbridgeboston.org/pre_workshop](http://www.railsbridgeboston.org/pre_workshop). We'll need to edit the [Friday installfest instructions](http://www.railsbridgeboston.org/friday) a little bit more to align the two parts.

@alexch Boston has always done one command line and text editor mini-lecture on Installfest night, bec

[2013-10-05 01:07] spacewaffle opened #101 "When running hello.rb for vagrant users, the instructions don't specify using vagrant instead of the native os"
People keep trying to run "ruby hello.rb" in their native windows command line instead of inside their vagrant box. Could probably word this better.

[2013-10-05 01:20] PDegenPortnoy opened #102 "Using Railsinstaller on OS/X: ri did not show core ruby library"
RailsInstaller-1.0.4-osx-10.7 was used with OSX 10.7.5, installation was successful, but ri did not generate expected results. It seems that the ri documentation was showing only Rails extensions and not core library.

Problem persisted with new terminal instance.

[2013-10-05 01:25] lauyeung opened #103 "vagrant how-to"
It might be helpful to have vagrant tutorial for TAs? Or maybe a more step-by-step breakdown (including where to put the .box file), how to get vagrant up and running, and screenshots of what it looks like?

[2013-10-05 01:31] janetriley opened #104 "Nitrous.io issue bucket"
We're using Nitrous.IO for our first Chromebook user.   Collecting all Nitrous.io issues as we go for future triage.

INSTALLFEST
The link to nitrous.io installfest instructions points to the raw Github repo, not pages

Nitrous.io is running Ruby 2.0.0 and Rails 4.0.0 -   we're geared up for 1.9.3 and 3.2 .

Some steps don't apply:   install ruby, install a text editor

Nitrous.io has a directory

[2013-10-05 01:58] drapergeek commented on #104
I'm curious to see how Nitrous works out overall. That could be a great long term solution that may be easier to maintain.

[2013-10-05 02:01] houhoulis commented on #102
Agreed, very good description.  `ri Integer#upto` did not work, and `ri Integer` showed only the methods defined in the Rails class.

[2013-10-05 02:04] houhoulis commented on #101
This is true for Mac users as well.

[2013-10-05 02:12] houhoulis opened #105 "Permission error installing gittyup (RailsInstaller on the Mac does a system install of rvm)"
The RailsInstaller shouldn't install rvm that way.

Fix 1: put into curriculum: `chown -R <username> /usr/local/rvm`

Fix 2: Submit fix (or advocate change) to RailsInstaller!

[2013-10-05 02:17] houhoulis opened #106 "ssh curriculum doesn't work for Vagrant installs"
On Mac OS X, Vagrant is installed to `/home/<username>` or `/home/<username>/workspace` or something.

When creating ssh keys, the curriculum should say something like (I might have the Vagrant path wrong):  "If you are using Vagrant, ssh-keygen will offer to save the file in /home/<username>/.ssh/id_rsa rather than /Users/<username>/.ssh/id_rsa`.  Hit 'Enter' to accept the default."

[2013-10-05 02:26] houhoulis opened #107 "ssh curriculum ought to recommend people inspect and then accept the default filename"
If ssh gives a default that isn't what is expected, then we ought to figure out why, rather than copy-pasting a different path & filename.  Something more basic might be wrong.

[2013-10-05 02:43] lauyeung opened #108 "Add Ruby version check to install checklist?"
Not sure, but it might be a good idea to check the Ruby version also? It seems like some folks had Ruby 2.0 and Dan (Pickett) mentioned we'd need 1.9.3 to work with Rails 3.2.14.

[2013-10-05 03:22] thegreatape opened #109 "Add .gemrc SSL workaround"
I noticed a couple people had issues while trying to install gems tonight around being unable to validate S3's SSL cert. The workaround for this is to tell RubyGems to not try to validate SSL certs by putting the following in the student's `~/.gemrc`.

  `:ssl_verify_mode: 0`

[2013-10-05 03:44] jnhuynh opened #110 "InstallFest Step 5. Run Ruby From File Suggestions"
1. Change the `~` to `/Users/<your_username>/`

Why: the instructions places a heavy emphasis on going to the `~/workspace` and the `~/Desktop/railsbridge` directories; however as someone who isn't familiar with the CLI, the `~` may not be an obvious concept. Plus when they type `pwd`, as we have instructed them to find their current working directory, it doesn't say `~`. Instead it gives the abso

[2013-10-05 04:09] slothbear commented on #101
I saw this a couple of times on Macintosh as well. If you can think of a good way to word it, Pull Requests are welcome!

[2013-10-05 04:14] slothbear commented on #107
Could you give an example of where the problem happens? I'm not sure where ssh gives a default.

[2013-10-05 04:21] slothbear commented on #104
link to (raw) installfest instructions:
https://github.com/tdenkinger/docs/tree/nitrous.io/sites/installfest

[2013-10-05 12:07] slothbear commented on #101
On a Windows system without Ruby, this gets an error and at least nothing has been verified. On Macintosh the command succeeds. It looks like a verification, but it has tested the system Ruby, not the VM Ruby.

[2013-10-05 13:21] kdurr opened #111 "File not found: /mvc"
The Lecture Slides: Exploring Model View Controller path (http://www.railsbridgeboston.org/mvc) isn't working

[2013-10-05 14:00] danchoi commented on #111
Removed from the website

On Sat, Oct 05, 2013 at 09:21 AM, kdurr notifications@github.com wrote:

---

Sent from Vmail
http://danielchoi.com/software/vmail.html

[2013-10-05 14:15] PDegenPortnoy opened #112 "The Intro to Ruby should be an interactive tutorial"
Everyone in the room is sitting at a computer with Ruby installed and their fingers are itching to do something.

The Intro to Ruby should be restructured to be an interactive tutorial to introduce everyone to:
- Variables
- Basic Objects: String, Array, Hash
- Basic object methods: String Operations, Array Operations, Hash Operations
- Scope & Blocks
- Control Structures: If, if else, unless, cas

[2013-10-05 14:25] spacewaffle commented on #112
Yeah, I think a code-along in irb would be more useful.

[2013-10-05 15:15] #111 closed, assigned to nobody

[2013-10-05 15:31] eudaimonious opened #113 "Post a link to this issues page on railsbridgeboston.org"
I had to Google (and know what I was googling) to find it. Make this page more accessible if it is where you want to collect on-the-fly feedback especially from attendees.

[2013-10-05 15:35] eudaimonious opened #114 "People are starting IRB within IRB"
Just spoke to three people in a row, at different tables, who had typed 'irb' multiple times. This led to issues accessing a variable they had set in the outer irb and confusion when typing 'exit' did not take them to the command line. In fact, typing exit causes irb to yield a totally unhelpful/confusing stack trace.

To solve, I suggest: 1. More education on difference between irb and command li

[2013-10-05 15:37] eudaimonious commented on #112
Agreed but that would also mean the presentation would have to be slowed down considerably. If you really want to follow along but fall behind and/or get stuck (everyone typos!) you may be very discouraged.

[2013-10-05 15:48] PDegenPortnoy commented on #112
Good point; One strategy to counter the risk of needing to pull everyone along is to keep the steps small, focused and incremental.  This could help resolve common issues such as unterminated strings.  Perhaps having the TA spread around would help things to continue moving along.

[2013-10-05 16:26] PDegenPortnoy opened #115 "Rails new needs to be run in /home/vagrant/workspace"
This was mentioned; a fair number of people were not in /home/vagrant/workspace before doing `rails new`  It would be helpful to have that step in the instructions

[2013-10-05 18:31] PDegenPortnoy opened #116 "In CRUD_with_scaffolding, indicate the code should be viewed in the editor"
Some users are typing "app/models/topic.rb" in the command line instead of viewing the file in their editor

[2013-10-05 18:36] alxjrvs opened #117 "'Link_to' destroy not generating unobtrusive JavaScript, rendering show instead of delete"

[2013-10-05 18:36] alxjrvs commented on #117
This is in the 'crud with scaffolding' portion

[2013-10-05 18:50] eudaimonious opened #118 "Error Generating User Scaffolding"
Anyone else seeing a migration file with "t.e" instead of "t.string"? Why is this happening?

[2013-10-05 18:58] kookster opened #119 "fix rails new with spockets for windows vagrant"
We're getting this error:

http://stackoverflow.com/questions/19124367/rails-app-on-percise32-vagrant-box-assets-get-text-file-busy-error-errnoe

looks like sass may be the culprit, see if we can just use a different version.

if not, look at alternative ways to get assets (compile once, app template, download)

[2013-10-06 14:33] thegreatape commented on #119
I tried to reproduce the "text file busy" issue on my 64-bit Windows 7 machine, with no success. The only way the setup deviated from the install instructions was that I ran "rails new" without the no-sprockets flag and I had to install nodejs with apt-get for the asset pipeline.

I tried with sass 3.2.10, 3.2.11, and 3.2.12 and all worked fine. Thoughts on anything I might have missed?

Having pe

[2013-10-06 14:35] thegreatape commented on #117
I believe this is due to generating the app with the `--no-sprockets` flag, which intended to address the "text file not found" issue on Windows. If we can resolve #119, we can drop the `--no-sprockets` flag and this shouldn't be an issue.

[2013-10-07 11:59] houhoulis commented on #107
Sure.  The student faced this prompt on OS X at the Vagrant command-line: https://help.github.com/articles/generating-ssh-keys , first textbox in step 2.

[2013-10-07 14:30] duggiefresh opened #121 "Basic terminal commands"
There were a couple of attendees that had a trouble with their working directories.

Essentially, some of them were trying to use Rails commands in their home directory, or incorrectly referencing files that did not exist.

I suggest we briefly cover `pwd` and `ls`.

Thanks!

[2013-10-07 14:39] kookster commented on #121
While it is not perhaps the main point of an rb workshop, I feel like basic
cmdline skills would help throughout the day, and is a wonderful and
necessary skill we can help folks acquire or strengthen.

I would suggest perhaps on Friday a more extensive lesson, particularly
with a focus on understanding the importance of the home and workspace
directories (on vagrant), and on traversing dir trees,

[2013-10-07 14:39] kookster opened #122 "default text editor?"
Many people ended up in the default text editor, nano I think, when forgetting to use -m on commit.  Could we in some way prepare them for this, and should we think about what default text editor it should be (vim?)?

[2013-10-07 14:42] kookster opened #123 "move git and heroku to the end?"
I know that the inclusion of git has been semi-controversial, and certainly widely discussed.

I tend to think it is very important in introducing a basic developer skill set and workflow.

I was discussing this with some folks, and we came up with a suggestion to alleviate some of the confusion.

Should we move git and heroku deploy to the end of the day, and focus on running and developing local

[2013-10-07 14:46] alxjrvs opened #124 "Better Vagrant Instructions / more universal commands?"
I believe that, on the Whole, Vagrant was a success for our windows users. That said, the 'workspace' folder was often missed, and I saw several people making their rails app in the VM root, outside of the 'workspace' folder.

Considerations:
- More effective instructions
- Command Line Alias/Shortcut/etc that runs vagrant up && vagrant ssh && cd workspace

[2013-10-07 14:46] kookster opened #125 "gittyup include migrations?"
Many folks forgot to do the `heroku run rake db:migrate` after a gittyup deploy.

Should we add that?

[2013-10-07 14:46] ldamon opened #126 "Keep talks under 10 minutes"
Some of the lectures ran long and would be much more easily understood and appreciated if kept brief

[2013-10-07 14:48] kookster opened #127 "troubleshooting guide/FAQ"
Is it a good idea to maintain a FAQ-like page of common troubleshooting suggestions, as I know as a TA I find myself often repeating the same ideas, like running migrations, or looking at a stacktrace, or checking the heroku logs.

Might be empowering for students to be able to look up such things with or without their TA. We could also add to this during the day as we run across things, like the

[2013-10-07 14:48] ldamon opened #128 "Start Saturday with a Rails app demo"
Instead of starting with ruby, begin the day with a demo or something VISUAL to build excitement for the attendees. Getting through the first part of the morning could be less of a drag.

[2013-10-07 14:49] ldamon opened #129 "Clarify what is a virtual machine and why Windows users need to use it"
Directions on how to use the virtual machine and simply why we are using it can be improved

[2013-10-07 14:49] galiat commented on #121
Also tab complete and using the up arrow to get to a previous command. I ended up showing several participants those two.

[2013-10-07 14:50] danchoi opened #130 "Have an official "stretch chaplain" role"
I am a big fan of how Peter led the workshop in the midday stretch. I think we should have 3 of these stretch sessions throughout Saturday to keep people alert. It was also fun.

I propose we formalize this position & try to identify a TA or an attendee who can lead the class in short stretch sessions. There is bound to be a yoga or Pilates teacher in the group.

[2013-10-07 14:50] duggiefresh commented on #121
:+1: I like the idea of an introduction on Friday.

[2013-10-07 14:52] duggiefresh commented on #122
I like the idea of setting up Vim as the default Git editor... although I am completely biased as a Vim user.

[2013-10-07 14:52] ldamon commented on #130
This would be awesome!
I also think music could help in the same way, at intervals and at the start of the day, to break up the format and make it more fun.

[2013-10-07 14:53] kookster commented on #112
good point about leaving people behind.  maybe have people optionally follow along in irb, and then have time after the lecture to help those who need more time?

Or break it up, and use a break in the middle to catch people up after some smaller length of time/frustration, then bring people back together for the rest of the lecture? Like maybe stop after control structures, then come back and do

[2013-10-07 14:56] galiat commented on #114
Yes. The syntax used to indicate what is happening on when typing in the console was unclear to some participants. For example:

$ irb

[2013-10-07 14:57] kookster commented on #98
Maybe add an abbreviated cmdline reminder to Saturday? Focus on irb vs. shell (how to start, recognize which is running, and end them), traversing directories, and importance of home and workspace dirs?

[2013-10-07 14:58] kookster commented on #130
Could I also suggest more coffee in the afternoon for the more caffeine inclined?

[2013-10-07 14:59] danchoi commented on #130
Yes! I also noticed that we ran out of coffee and left some people
distraught. It would be easy next time to have an organizer run out to
Dunkin Donuts and bring back reinforcements.

On Mon, Oct 7, 2013 at 10:58 AM, Andrew Kuklewicz
notifications@github.comwrote:

[2013-10-07 15:00] PDegenPortnoy commented on #112
I like the idea of extending the instructor lead interactive part.  With TA's spread around, we could help people understand Ruby, get their rails app generated and pushed to heroku and bring everyone along.  Then everyone would have an environment for learning about working in Rails to build functionality.

[2013-10-07 15:01] danchoi commented on #130
@ldamon I think some non-obtrusive background music during the breaks and lunch would be great.

[2013-10-07 15:01] kookster commented on #121
+1 on history/up arrow and tab complete, very very good suggestions - you
show people these things, and it really helps them feel more confident too.

Very hard to figure out for yourself from reading the curriculum, I feel
like in a lecture or demo would be great. Yeah, a cmdline demo...

[2013-10-07 15:02] PDegenPortnoy commented on #130
Were the coffee systems on the counter not working?  We noticed on Friday night that they had a message to turn the water on.  Might it be possible to take advantage of those systems for the afternoon caffeine boost?

[2013-10-07 15:03] kookster commented on #130
The machines were not working, and were not stocked.

[2013-10-07 15:06] galiat commented on #130
I was not present for the bundle install part of the curriculum, but I generally like to use bundle install time to do a little stretching.

[2013-10-07 15:17] galiat commented on #123
I'm not sure how I feel about leaving git to the end, but I see merit in moving Heroku to the end. If heroku is moved to the end, I would want participants that need to leave early to be able to grab a TA before they leave to get whatever they worked on into heroku.

[2013-10-07 15:20] drapergeek commented on #122
I think you should set this to sublime. I love vim but most people get very confused by the interface and having sublime show up would be fairly natural.

Granted, this may present issues with vagrant.

[2013-10-07 15:22] galiat opened #131 "Have students open up entire project in sublime"
Several of the students were using sublime to look at individual files, rather than having the whole project open in sublime. I would suggest we explicitly have them open the entire project in sublime.

[2013-10-07 15:24] duggiefresh opened #132 "Brief introduction to Sublime Text 2"
During the workshop, many attendees that I've aided did not use Sublime Text as _intended_.

I emphasize _intended_, because the majority of attendees were able to open, edit and save files; however, that same majority did not open the Rails project in its entirety.

I believe we should show the attendees that they can open up the Rails project and see the entire directory structure within a proje

[2013-10-07 15:24] duggiefresh commented on #132
Ah. Closing in favor of #131

[2013-10-07 15:24] #132 closed, assigned to nobody

[2013-10-07 15:26] kookster commented on #123
I agree.

While I am making the suggestion, I also think git is wicked important, and so is deploying your work and getting it out there.

I do see a kind of progression - I get my machine working, learn some basic ruby, then I use rails to make an increasing complex app, then at the end of the day I learn about how to do version control and deploy it for the world to see. (I would like to point o

[2013-10-07 15:28] kookster commented on #131
+1 did this every time I was working with a student 1-on-1.

[2013-10-07 15:31] PDegenPortnoy commented on #131
+1 strongly agree

[2013-10-07 15:38] PDegenPortnoy commented on #123
I like the consideration of alternative work patterns; it helps highlight where boundaries lie.  With that in mind, I felt uncomfortable with the idea of postponing the use of SCM. Since we know that the most important things on our systems are the things we create, getting new developers into the habit of checking in completed code thoughts supports all the best practices with which we are famili

[2013-10-07 15:47] kookster commented on #122
yes @drapergeek , I am mostly referring to vagrant users - agreed that subl on native makes much more sense.

[2013-10-07 16:05] durrantm commented on #121
I helped several people out with confusion over some of these basic commands, especially pwd and ls, including "cd ..", using comparisons to a tree, etc.
I would enjoy giving a talk on these and mkdir on Friday if that would help.
Could also include explaining ~, tab completion and up-arrow'ing as mentioned by @galiat if desired.  These are shortcuts but they are so very useful to know from the ge

[2013-10-07 16:20] kookster commented on #121
Agreed  "~", "." and ".." would be great additions.

[2013-10-07 16:42] galiat commented on #112
I like the idea of splitting it up so that students can start interacting with with ruby sooner. In the same vein, a lot of good questions were asked during q&a 'What happens if you type...' and having this be interactive would encourage students to try it out for themselves.

[2013-10-07 16:51] kookster commented on #112
I feel like this, and the cmdline stuff, both work better something like a demo rather than a lecture, what do you think?

[2013-10-07 17:41] durrantm commented on #112
I like the idea of students pairing up with other students and ta's and following along and actually doing at the same time, with plenty of time to address typo's and the like and to ensure that students don't get left behind.  Slow and easy to build confidence.

[2013-10-07 17:44] drapergeek commented on #122
I think in that case maybe we should set up a basic editor easier than vim. Something like nano maybe? I just know the number of people who freak out when getting stuck in vim.

[2013-10-07 19:35] houhoulis commented on #130
The systems on the counter were working on Saturday afternoon... barely.  I think it was a water pressure issue.  Combined, they were making about 6 cups of whatever per hour.

I think having more coffee of our own would scale better than trying to use those for everyone's afternoon coffee.  Plus, there's no guarantee they'd be stocked anyway.

[2013-10-07 19:37] houhoulis commented on #130
I really like this ( @danchoi 's ) idea as well as the music idea.  @ldamon , feel free to file a music Issue.

[2013-10-07 19:53] PDegenPortnoy commented on #122
Similar to @duggiefresh and @drapergeek; I am dedicated to vim, but I think it would be a mistake to introduce yet another complexity to those absolute novices who participate.  Consider that they are facing VM's, command line, SSH, shared folders, a text editor, SCM and deployment in addition to the core ruby and rails.  Poor kids.  I would support as simple a solution as possible to those who ac

[2013-10-07 19:57] kookster commented on #122
I agree with keeping nano default, but adding sidebar or some other place where there is obvious help for this situation.

[2013-10-07 20:09] houhoulis commented on #122
@drapergeek +1

I don't know what's available within Vagrant.  Nano is not very intuitive, but it's still way more intuitive (less unpleasant to the newcomer) than vim.

[2013-10-07 20:16] danchoi commented on #122
There is an even simpler alternative to nano for this problem. I posted a Gist here:

https://gist.github.com/danchoi/6874170

The solution involves 2 steps:
1. Write a simple Bash script to prompt user for a commit message if `-m` flag was not used.
2. Use `git config --global core.editor [editor]` to point to this script.

[2013-10-07 20:35] drapergeek commented on #122
I like it! :+1:

[2013-10-07 20:41] danchoi commented on #122
Moving this feature request to https://github.com/railsbridge-boston/railsbridge-virtual-machine/issues/2

Closing this issue here!

[2013-10-07 20:41] #122 closed, assigned to nobody

[2013-10-07 20:46] danchoi commented on #113
Link is now in the "Contact Us" section of homepage. Does it look ok to you?

[2013-10-07 20:46] #113 closed, assigned to nobody

[2013-10-07 20:49] danchoi commented on #119
@slothbear and I tried to debug this issue the day before the Friday installfest, but we just gave up and turned to the `--skip-sprockets` solution, which is not ideal for obvious reasons.

This "text file busy" error is erratic, but @slothbear and I both confirmed it on 2 different Windows machines, one Windows 7 and one Windows 8.

I also tried dumping `nodejs` as the asset pipeline compliation

[2013-10-10 13:40] danchoi commented on #126
Survey responses coming in right now back this up. They say the lectures are too long and much too hard for absolute beginners to follow.

[2013-10-10 13:42] danchoi commented on #126
I think if the lectures were interactive group exercises with live coding that could fix some of these problems.

[2013-10-10 13:47] jboursiquot commented on #126
I'd love to adapt the Intro to Ruby lecture I gave into an interactive format. Perhaps integrating some of the work they do immediately after into the lecture itself. I'll review what we currently have and propose a new format.

[2013-10-10 13:51] danchoi commented on #126
Thank you @jboursiquot

[2013-10-10 16:36] slothbear commented on #131
The Getting Started page currently includes instructions for opening the project folder under Step 3 (text below). The description is kind of confusing though, since you need a different menu command on Windows vs. Mac OS X and Linux. And the word "Open" is overloaded.

Perhaps add a TA checkpoint at the end? "If you don't see a panel listing all the files (maybe with small screen shot?), ask a TA

[2013-10-10 16:48] slothbear commented on #125
After trying gittyup for 3 workshops without the db:migrate, I'd support adding db:migrate and see whether it improves things.

Someone mentioned this weekend that the current gittyup commands (add, commit, push) are all git commands – while the db:migrate command is a Rails thing. So perhaps it doesn't belong in gittyup?

Plus an interesting parallel... students also forget the migrations locally

[2013-10-10 17:22] slothbear commented on #127
We don't use the Main Viewscreen for a lot while students are working. Would it be a cool Rails app (perhaps for alumni to work on?) to display Current Common Problems & Answers? I guess I am envisioning a mini-Stack Overflow. Vote for an entry if you had the same problem.

Maybe the Main Viewscreen shows only the questions related to the current workshop section – so it is easy to see the most re

[2013-10-10 17:27] kookster commented on #131
add in a screen shot of how it should look?

[2013-10-10 18:22] danchoi opened #133 "An idea for changing curriculum sequence: HTML -> Sinatra -> Rails"
Because every time a handful of survey respondents tell us that the lectures assume way too much knowledge, are too abstract, and that they get lost by midday. I'd like to float a proposal for a new Saturday curriculum sequence:
1. Intro to web
2. Interactive lab on HTML. Use Sinatra to serve up the HTML in exercise.
3. Intro to dynamic web pages & web apps, and Ruby's place in this ecosystem
4. I

[2013-10-11 18:03] PDegenPortnoy commented on #133
This makes a tremendous amount of sense.

How representational of the entire population do you think those surveys are? If it is small, but vocal (as unhappy folks tend to be), then we may risk addressing these concerns but creating a structure that is far too simplistic for those less vocal folks who were not lost by midday, such as all those engineers who were interested in learning Ruby.  Is th

[2013-10-17 17:59] danchoi commented on #133
@PeterDP FYI Railsbridge SF workshops do separate people into tracks. See https://github.com/railsbridge/docs/wiki/Class-level-grouping-guide

But Railsbridge Boston has not done tracking for I think 3 reasons.
1. Reserving 2 or more classrooms at a venue is logistically much more challenging.
2. Since we use multiple lecturers to present the material, spreading them across multiple tracks would b

[2013-10-21 15:07] bcarreno commented on #133
I like this idea, adding steps 2-5 would make a big impact on easing the
learning curve.  Beginners feel they're typing without knowing what's
really happening and this is addressing exactly that.

However, I worry about introducing another framework.  Beginners don't have
very clear where the line between Rails and Ruby lies, by adding a third
concept they'd get confused, especially distinguishin

[2013-11-10 21:00] janetriley commented on #133
@PeterDP, from looking at the registrations for the last 3 workshops,   50%+ of the participants are new to programming.  Another 25% have done a little bit of javascript, but not a lot of programming.  The rest are people who programmed a long time ago or who are transitioning in from other languages like C++ or Java.

I email anyone whose application suggests they're too advanced and suggest the

[2013-11-10 21:03] janetriley commented on #133
How's the bandwidth on Saturday?  Code Academy has interactive Ruby tutorials at http://www.codecademy.com/tracks/ruby -  I wonder if that would be a good extra-extra-credit activity to practice the ruby section.

[2013-11-10 21:17] janetriley commented on #118
Do you remember the circumstances this bug happened in?

[2013-11-10 21:26] janetriley opened #134 "Make vagrant window, irb prompt, visually distinct?"
Participants sometimes use vagrant or IRB commands outside of vagrant or IRB. ( See #114 ,  #101).

Is there a way to make the vagrant window visually distinct from the terminal window?  A different background color, perhaps?   Can you set the IRB prompt to display in, say, red?

[2013-11-10 21:39] janetriley commented on #86
We tried it out in the 10/2013 workshop.  We should open issues for specific documentation gaps or enhancements.

Can we close this issue, or identify next steps?

[2013-11-10 21:44] janetriley commented on #65
Since we rolled out Vagrant ( per #86 ),  and since the issue is 5 months old, I'm going to close this issue.   Please re-open if it still needs attention.

[2013-11-10 21:44] #65 closed, assigned to nobody

[2013-11-10 21:47] janetriley commented on #63
This should be added to the wiki for the Installfest coordinator job.

[2013-11-11 01:27] janetriley opened #135 "Write event manual"
Rearrange and supplement the pages in the wiki to create a step by step guide for each volunteer job.   Describe each role, document what needs to get done, and include a rough timeline.

The goals are to make it easier for volunteers to join or change roles,  make planning smoother by making all the steps explicit, and make it easier to see if we're on track.

[2013-11-11 01:34] janetriley opened #136 "Post January 2014 dates on front page"
Put 2014 dates on the front page.

[2013-11-11 01:34] #136 closed, assigned to janetriley

[2013-11-13 19:07] slothbear commented on #118
Unless there's a reproducible test case, I'd be willing to guess that the Generate command was not typed correctly. Rails doesn't check the types you pass on the command line. For instance, this command:

[code]

attempts to create the table using 'e':

[code]

[2013-11-14 02:33] eudaimonious commented on #118
Agree it was probably a typo.

[2013-11-14 02:33] #118 closed, assigned to nobody

[2013-12-07 23:32] slothbear opened #137 "Maybe recommend Rails Beginner Cheat Sheet"
I'm not quite sure where to add this to the curriculum. We already have a Ruby-only cheat sheet in [Ruby for Programmers](https://github.com/railsbridge-boston/railsbridge-boston/blob/master/views/workshop/ruby_for_programmers.deck.markdown).

This cheat sheet covers both Ruby and Rails, and is available in PDF too:
http://pragtob.github.io/rails-beginner-cheatsheet/index.html

I haven't read ever

[2014-01-07 14:10] janetriley commented on #121
I've added most of these to the Ruby curriculum at railsbridge-boston/docs  :

pwd
ls
tab complete
arrows
~

Still to add: .. and .

These will be up on http://docs.railsbridgeboston.org/ruby/command_line  when the changes are pushed.

Leaving the issue open until I finish . and .. .

[2014-01-07 19:47] alexch commented on #121
Feel free also to use this:

http://codelikethis.com/lessons/learn_to_code/the_command_line
http://codelikethis.com/lessons/learn_to_code/the_command_line.slides

 -- I wrote it for a "learn to code" workshop for people with zero
experience so it covers concepts in perhaps more rudimentary detail than
you want

[2014-01-13 23:05] janetriley commented on #86
Closing the issue.   The VM itself has moved to the https://github.com/railsbridge/railsbridge-virtual-machine repo.

[2014-01-13 23:05] #86 closed, assigned to nobody

[2014-01-13 23:09] janetriley commented on #134
Opened an issue in the VM repo at https://github.com/railsbridge/railsbridge-virtual-machine/issues/7 . Closing here.

[2014-01-13 23:09] #134 closed, assigned to nobody

[2014-01-19 16:02] decklin opened #140 "Use VM for Linux too?"
It may be a good idea to point even Linux users to a VM. The current LTS release of Ubuntu (for 3 more months, at least) ships Ruby 1.9.3, and it'd be better for Linux-using students to be up to date without having to deal with rvm or rbenv/ruby-build (or upgrading their distro). Not worrying about messing up your /usr/local is always good.

From the Vagrant downloads page: http://www.vagrantup.co

[2014-01-19 16:25] decklin opened #141 "purpose of Github for Windows unclear"
Right now the pre-workshop Windows instructions say to install Github for Windows. Should OS X students install Github for Mac? What should Linux students do?

I think we should either:
1. Have Windows and OS X students create commits with the native Github app on their host machine (so add Github for Mac to instructions), and tell Linux students to use command-line git (in a regular shell, which

[2014-01-19 16:45] danchoi commented on #141
FYI the only reason we installed GitHub for windows is to provide a
decent shell program for windows users. It didn't have anything to do with
git commands. All the git commands were done inside the VM using the Linux
command line

On Sunday, January 19, 2014, Decklin Foster notifications@github.com
wrote:

[2014-01-19 16:48] decklin opened #142 "Remove non-VM OS X instructions"
According to the OS version survey spreadsheet, only one person explicitly specified a version of OS X that was 10.5 or older -- it was "10.0", which is almost certainly not intended (unless they have a 12-year-old PowerBook). Counting this response as "10", 6 students out of 60 said "OS X", "not sure" or "10" without specifying an exact version.

Based on this I think we should dump both RailsIns

[2014-01-19 16:53] danchoi commented on #141
I remember one thing to watch out for for windows users: When they run
github for windows for the 1st time, they need to configure it to provide a
launcher for a bash shell, and not Powershell.

On Sunday, January 19, 2014, Daniel Choi dhchoi@gmail.com wrote:

[2014-01-19 16:53] decklin commented on #141
Ah, got it. I'll just submit a small update to note that.

[2014-01-19 16:53] #141 closed, assigned to nobody

[2014-01-19 17:50] decklin commented on #142
Branch for this here: https://github.com/decklin/railsbridge-boston/compare/no-railsinstaller

[2014-01-19 18:59] slothbear commented on #141
Getting a decent shell was the main reason for Github for Windows – but
that reason includes a sub-reason... That decent shell comes with a
built-in SSH client. Windows doesn't have one installed by default as I
remember. The SSH client is required so a student can SSH into the VM.

[2014-01-19 22:12] danchoi opened #144 "Railsbridge VM git config modification"
Whoever is modifying the VM might want to add this to the VM changes:

https://github.com/railsbridge/railsbridge-virtual-machine/issues/2

[2014-01-23 02:51] decklin commented on #144
A ruby implementation is in the automated VM here: https://github.com/railsbridge-boston/railsbridge-boston-vm

If we are successful with the VM in this workshop, I can file off the couple bits that say "Boston" and ask RailsBridge HQ about having it be a common project for all locations. Will have to review the upstream curriculum to see if there's anything that needs to get in sync, but I think

[2014-01-23 14:39] #142 closed, assigned to nobody

[2014-01-24 03:24] janetriley commented on #129
Added a page to the Ruby curriculum on https://github.com/railsbridge-boston/docs .

[2014-01-24 03:24] #129 closed, assigned to nobody

[2014-01-24 03:26] janetriley commented on #64
Added a separate next_steps page to the curriculum menu.  It's slanted toward connecting with resources.  Getting and staying involved is a good perspective.  If you want to mix more of that in, I'll leave it to you to open another issue.

[2014-01-24 03:26] #64 closed, assigned to nobody

[2014-01-24 03:29] janetriley commented on #130
Corina Acosta has agreed to be stretch chaplain for the next workshop.   We're having an afternoon coffee break with Dunkin Donuts coffee.  Good suggestions.

[2014-01-24 03:29] #130 closed, assigned to nobody

[2014-01-24 03:30] janetriley commented on #114
Addressed in VM configuration.

[2014-01-24 03:30] #114 closed, assigned to nobody

[2014-01-24 03:33] janetriley commented on #112
The Ruby-only curriculum is a hands-on tutorial, and we have minimal lectures planned.  We'll encourage people to work together if they choose.  We're going to end with writing a program in small groups.

Closing here. Please open new issues at the Ruby curriculum at https://github.com/railsbridge-boston/railsbridge-docs .

[2014-01-24 03:33] #112 closed, assigned to nobody

[2014-01-24 03:36] janetriley commented on #98
The next workshop shoould approximate this.
We'll do a group walkthrough of installation on Friday.
There's a  more detailed command line page in the Ruby curriculum at  https://github.com/railsbridge-boston/docs .

[2014-01-24 03:36] #98 closed, assigned to nobody

[2014-01-24 03:37] janetriley commented on #103
Addressed on the VM setup page at  http://www.railsbridgeboston.org/installfest/vm_setup  .

[2014-01-24 03:37] #103 closed, assigned to nobody

[2014-01-24 20:21] bgiobbe opened #148 "Inconsistent directory in vm_setup"
In the "Start and Connect Through The Commandline" section,
- Change `cd ~/Desktop/workspace`  to `cd ~/workspace` to agree with previous mkdir command;
- Change 'Commandline' to 'Command Line' in the heading.

[2014-05-12 04:36] intuedge opened #151 "installfest (/friday) link problems"
Chromebook notes are 404:
https://github.com/tdenkinger/docs/tree/nitrous.io/sites/installfest

[OS X < 10.5] link missing

[2014-05-13 15:53] decklin commented on #148
Will be fixed by #150.

[2014-05-16 01:17] janetriley commented on #148
Merged, closing issue.

[2014-05-16 01:17] #148 closed, assigned to nobody

[2014-05-16 01:25] janetriley commented on #123
Done in #152 .  The current version of rails doesn't include the "welcome to Rails!" page in production, so the first deploy to heroku fails.  I moved it and git to its own unit.

I agree that it's best to build good habits with git.  However, walking through the curriculum, git was introduced one page after introducing creating a project with rails.   I agree that it's a good habit to model, but

[2014-05-16 01:25] #123 closed, assigned to nobody

[2014-05-16 01:27] janetriley commented on #119
--skip-sprockets is no longer needed as of the May 2014 VM.  I removed --skip-sprockets from the instructions.

[2014-05-16 01:27] #119 closed, assigned to nobody

[2014-05-16 01:35] janetriley commented on #135
Voilà!
https://github.com/railsbridge-boston/railsbridge-boston/wiki/Workshop-Organizing-Handbook

[2014-05-16 01:35] #135 closed, assigned to janetriley

[2014-05-16 01:37] janetriley commented on #117
#119 resolved: the May 2014 VM doesn't have the --no-sporckets issues, and it has been removed from the directions.

[2014-05-16 01:37] #117 closed, assigned to nobody

[2014-05-17 12:51] decklin opened #155 "Stop using "workspace" and the same box name"
in #152 (closing it now), i said:

We had problems in the Installfest with students who were at a previous workshop and still had:
- a local `~/workspace` directory with a `Vagrantfile`.
- a Vagrant box called "railsbridgebox" from an older VM

Both of these are problems with trying to reuse the same name but change something's contents. I think we should go with a more immutable approach. Also we

[2014-05-17 22:45] slothbear commented on #155
In previous workshops, there was some support for putting our new folders on the Desktop – because it was a place everyone could see – thus making it easier to find. I think I was arguing against that practice at the time but cannot remember why.

[2014-05-18 02:04] decklin commented on #155
(one other minor note here: I'll need to re-tag railsbridge-vm with tags like "201405" instead of 2014-05. I like the ISO style for readability, but for typing in filenames, only-alphanumeric wins.)

[2014-05-18 02:05] decklin commented on #144
Created https://github.com/railsbridge/railsbridge-virtual-machine/issues/9 to continue replacement discussion.

[2014-05-18 02:05] #144 closed, assigned to nobody

[2014-05-18 02:07] decklin commented on #140
Still think this is probably a good idea so I will look into making it one option (Linux users love options) when I have some time to think about reorganizing/streamlining the pages where these downloads are.

[2014-05-18 02:42] decklin commented on #151
Unfortunately it looks like that person deleted that branch. I'll just link to the nitrous.io site. If we have Chromebook students next time we can figure out what to do.

There is no more support for OS X versions prior to 10.5. That was the oldest version we had last time, and only a few students. I don't think anyone had older than 10.6 this workshop.

[2014-05-18 02:42] #151 closed, assigned to nobody

[2014-05-19 18:45] decklin opened #157 "Make download page shorter and simpler"
If we do #140, and have the VM be the _recommended_ path for all platforms (I am also going to update/rewrite the native Linux install instructions), the pre-workshop downloads can lose a lot of redundancy.

I'm going to mock up putting all the downloads into a table, where the student can find her OS and download everything in that column. It should be really clear what to do when you land on tha

[2014-05-19 19:13] danchoi commented on #140
Hi @decklin

Wanted to make sure that you know that some SF people are interested in using variations on this VM to aid volunteer hackfests on supporting software for Railsbridge such as Bridgetroll:
- https://groups.google.com/d/msg/railsbridge-workshops/NmAMlbGvNlY/qrOw0qZdxokJ
- https://groups.google.com/d/msg/railsbridge-workshops/-Io6h83U90k/Do7T_CA2HoMJ
- https://groups.google.com/d/msg/rail

[2014-07-03 14:21] bhoopal10 commented on #19
it is not working

[2014-07-07 23:32] ltanev commented on #94
where I can find a detail explanation about setting of  Railsbridge Virtual Machine. The explanations are for people that know how to do  it. I am new and I am looking for complete and detail tutorial.
I have windows 8 and I have trouble running Ruby on Rails apps. I was so please when I saw that I have some choice to run my apps, but for me is impossible to understand how to start. I open the git

[2014-08-18 17:56] decklin commented on #157
This is done.

[2014-08-18 17:56] #157 closed, assigned to nobody

[2014-08-18 17:59] decklin commented on #140
Reorganized the download page and install instructions to point to Vagrant/Virtualbox (use their preferred install method, whatever that may be), and also provide a reasonable amount of guidance for Linux students who want to build their own (we can give them the same tools that the VM uses to install Ruby). Any bugs we find in those installation methods, open as more specific issues.

[2014-08-18 17:59] #140 closed, assigned to nobody

[2014-08-31 15:33] decklin commented on #62
closing in favor of https://github.com/railsbridge-boston/railsbridge-vm/issues/8 (#86 was closed).

[2014-08-31 15:33] #62 closed, assigned to nobody

[2014-08-31 15:34] decklin commented on #105
No longer using RVM.

[2014-08-31 15:34] #105 closed, assigned to nobody

[2014-08-31 15:36] decklin commented on #102
We're not setting `ri`/`rdoc` documentation inside the VM, to keep it small and because ruby-doc.org is a lot more user-friendly. If this bothers anyone please reopen.

[2014-08-31 15:37] decklin commented on #109
I think the system certs were updated/fixed in a recent 2.0.0 patchlevel. Will close if no one else can reproduce.

[2014-08-31 15:38] decklin commented on #128
I like this idea.

[2014-08-31 15:58] decklin commented on #155
OK, how do we feel about just changing the box names? Only requires updating the vm_setup page.

https://github.com/railsbridge-boston/railsbridge-boston/compare/2014-09-vbox-versions...persistent-box-names

[2014-09-03 19:25] mxie commented on #155
Just to make sure, we're now going to:
1. Use a dated box name as part of the installation instructions
2. Still use `~/workspace` on the host machine, but `/vagrant` while in the VM?

[2014-09-03 20:20] mxie commented on #124
@decklin has done an awesome job in #158 in reorganizing the Installfest instructions, and I've personally found them pretty easy to follow and a vast improvement as far as handling VMs go.

In addition, there's also this discussion regarding using the `workspace` directory while in the VM: https://github.com/railsbridge-boston/railsbridge-boston/issues/155.

I think we're pretty close to resolvin

[2014-09-04 01:15] decklin commented on #155
The plan here is just to do (1). We would still use `~/workspace` on the host and a `~/workspace` symlink on the guest (personally, I could go for changing that too, but, one thing at a time.)

[2014-09-04 16:49] mxie commented on #155
Where would the symlink go to?

[2014-09-04 20:17] mxie opened #164 "Moving away from this (railsbridge-boston) repo"
With the [website redesign](https://github.com/railsbridge-boston/website) underway and [our attempt at merging](https://github.com/railsbridge-boston/docs) our material with the main RailsBridge content, I'd like to hear everyone's thoughts on no longer using this repo.

Here are my thoughts:
- The "marketing" content and the curriculum should be separate to make things less cluttered and more fl

[2014-09-05 01:46] decklin commented on #155
The symlink is to `/vagrant` (this is how it was done originally, I never changed it).

[2014-09-05 13:01] danchoi commented on #164
Go for it!

On Thursday, September 4, 2014, Melissa Xie notifications@github.com
wrote:

[2014-09-05 14:05] mxie commented on #155
Oh I see - nevermind then. :)

[2014-09-06 19:25] decklin commented on #164
Sounds great to me.

[2014-09-06 19:33] mxie commented on #164
Started bringing over the Downloads and Installfest material over to the docs repo (via https://github.com/railsbridge-boston/docs/pull/15 - includes screenshots even!). Had to do some workarounds, but so far, so good.

[2014-09-06 20:00] #164 closed, assigned to nobody

[2015-09-29 15:40] #5 closed

[2015-09-29 15:40] #7 closed

[2015-09-29 15:40] #8 closed

[2015-09-29 15:40] #9 closed

[2015-09-29 15:41] #11 closed

[2015-09-29 15:43] #60 closed

[2015-09-29 15:43] #61 closed

[2015-09-29 15:43] #66 closed

[2015-09-29 15:44] #63 closed

[2016-01-11 00:03] lilliealbert opened #166 "http://docs.railsbridgeboston.org goes to a hover placeholder page"
Hello!

I was hoping to show someone the RailsBridge VM instructions recently, but noticed that http://docs.railsbridgeboston.org/ is no longer running:
![screen shot 2016-01-10 at 4 03 16 pm](https://cloud.githubusercontent.com/assets/978428/12224973/aef9d7be-b7b3-11e5-82de-cc50a0cf0069.png)

[2016-01-21 21:20] mxie commented on #166
@lilliealbert This has been fixed! Thanks for putting in the issue.

[2016-01-21 21:20] #166 closed